/* Sitewide
----------------------------------------------------------------------------- */

* {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  font-weight: 700;
}

h2 {
  font-weight: 600;
}

a {
  color: #21ABDE;
  font-weight: 500;
}

ul {
  padding: 0px;
  overflow: hidden;
}

nav ul {
  list-style: none;
}

input {
  margin: 3px 0px;
}

main h1,
main h2,
main h4 {
  color: #004a66;
}

main h2 {
  font-size:2em;
}


/* Themes & Background Layouts
----------------------------------------------------------------------------- */

.bentham {
  font-family: bentham;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row;
}

.bg-dark {
  background-color: #172933 !important;
}

.bg-deep {
  background-color: #0c181e !important;
}

.bg-ash-light {
  background-color: #afafaf !important;
}

.bg-ash {
  background-color: #444444 !important;
}

.mystic .title,
.mystic h1,
.mystic h2,
.mystic .title,
.mystic .primary {
  color: #00e7ff;
}


.dark h3,
.dark h4,
.dark h5,
.dark h6,
.dark p {
  color: white;
}

.mystic .button {
  background-color: #00d1e6;
}

.mystic .button:hover {
  box-shadow: 0 0 20px #00d1e6;
  background-color: #00d1e6;
}


/* General Purpose
----------------------------------------------------------------------------- */

::selection {
  background: #21ABDE;
  color: white;
}

.button {
  text-decoration: none;
  background-color: #004a66;
  color: #ffffff;
  padding: 8px  12px;
  border-radius: 4px;
  display: inline-block;
  transition: all .15s ease-out;
}

.button:hover {
  background-color: #21ABDE;
}

.button-gigantic {
  font-size:50px;
  font-weight: 700;
  background-color: #ffffff00;
  color: white;
  margin-top: 40px;
  padding: 48px 96px;
  border: 1px solid white;
}

.button-gigantic:hover {
  background-color: #ffffff50;
}

.icon {
  height: auto;
  width: 60px;
}

.content-card {
  margin: 30px;
  width: 90%;
  max-width: 400px;
  height: 540px;
  text-align: center;
  border-radius: 30px;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 5px lightgrey;
  border: 1px solid lightgrey;
  display: inline-block;
  vertical-align: top;
  position: relative;
}

.content-card img {
  margin-top: 10px;
}

.content-card h1, .content-card p {
  display: inline-block;
}

.content-card h1 {
  max-width: 95%;
  margin: 15px auto;
}

.content-card p {
  font-size: 13px;
  width: 95%;
}

.content-card-bottom {
  position: absolute;
  display: block;
  bottom: 20px;
  width: 100%;
}

.title {
  font-weight: 900;
  font-size: 2.5em;
  text-transform: capitalize;
}

.primary {
  color: #21ABDE;
}

table {
  border: 1px solid black;
  margin: 30px auto;
  padding: 0px 10px;
}

thead td {
  border-bottom: 1px solid black;
}

td,
th {
  min-width: 114px;
  height: 40px;
  padding: 0px 10px;
}

tfoot {
  color: grey;
}

.logos {
  text-align: center;
  background-color: #f8f8f8;
}

.logos p {
  padding: 10px;
}

.flex-container {
  display: flex;
  flex-flow: row;
  list-style: none;
  align-items: center;
  justify-content: center;
  height: 100px;
}

.flex-container a {
  display: contents;
}

.flex-container img {
  display: block;
  height: 60%;
  margin: auto;
}

/* Header
----------------------------------------------------------------------------- */




/* Value Proposition */

.value-proposition {
  text-align: center;
  display: run-in;
  background: white url("../img/resized-man-relaxing-in-spring.fda91129f21b.jpg")fixed;
  background-size:cover;
  background-position: center;
  height: 800px;
  color: white;
  margin-top: -92px;
}

.content {
  position:relative;
  top: 30%;
}

.value-proposition h1 {
  color: white;
  margin: 0px 0px 10px;
  font-family: 'Bentham', serif;
  font-size: 82px;
}

.value-proposition h2 {
  max-width: 1050px;
  margin: 0px auto;
}

.value-proposition .button {
  font-size:46px;
  font-weight: 700;
  background-color: #ffffff15;
  color: white;
  margin-top: 200px;
  padding: 24px 36px;
  border: 1px solid white;
  box-shadow: 0 0 0px #fff;
}

.value-proposition .button:hover {
  background-color: #ffffff50;
}

/* Footer
----------------------------------------------------------------------------- */

footer {
  background: lightgrey;
}

footer .flex-container {
  height: 300px;
}

footer .block {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;

  width: 350px;
  height: 210px;

  color: white;
}

footer nav,
footer ul {
  display: contents;
}

#footerBlock2 {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  align-content: space-between;

  padding: 30px 35px;
  width: 100%;
  height: 100%;
  max-height: 150px;
  border-right: 1px solid white;
  border-left: 1px solid white;
}

#footerBlock3 {
  display: block;
  height: 100%;
  width: 100%;
  padding-left: 20px;
  text-align: left;
}

#footerBlock3 h2 {
  font-size: 35px;
  font-weight: 600;
  margin: 5px 0;
}

#footerBlock3 p {
  color: #c7c7c7;
}

#footerBlock3 p:nth-child(2) {
  margin-bottom: 25px;
}

#footerBlock3 p:nth-child(3),
#footerBlock3 p:nth-child(4) {
  padding: 10px 0px;
}

#footerBlock3 a {
  text-decoration: none;
  transition: all .2s ease;
}

#footerBlock3 a:hover {
  color: white;
}

#copyright {
  color: white;
  background-color: #21ABDE;
  padding: 10px 0px;
  text-align: center;
  font-size: 14px;
}


@media screen and (max-width: 1126px) {
  footer .flex-container {
    flex-flow: wrap;
    height: 100%;
    justify-content: space-around;
    padding-bottom: 55px;
  }



  #footerBlock2 {
    border: none;
  }

  #footerBlock3 {
    padding: 0;
    text-align: center;
  }
}

@media screen and (max-width: 757px) {

  footer .block {
    padding: 0 10px;
  }

  footer .block:nth-child(3) {
    padding-top: 45px;
  }

  #footerBlock2 {
    padding-top: 0;
  }

}

/* Main Content
----------------------------------------------------------------------------- */

/* Home Page  */

/*  About Section */

.about-section {
  display: flex;
  align-items: center;
  background: url("../img/blue-mountain-stars-cropped.e8680596ac66.jpg") fixed;
  background-size:cover;
}

.about-section .title {
  font-family: Bentham;
  font-size: 4em;
  padding: 0px 0px 10px;
}

.about-section .content {
  max-width: 55%;
  margin: 0px auto;
}

.about-section form p {
  padding: 40px 0px 10px;
}

.about-section form {
  display: inline-block;
  position: relative;
}

.about-section input {
  width: 100%;
  padding: 14px 0px 14px 30px;
  border: 1px solid black;
  border-radius: 10px;
  font-weight: 600;
  font-size: 16px;
  box-sizing: border-box;
  transition: box-shadow .2s ease;
}

.about-section input:focus {
  outline: none;
  box-shadow: 0px 0px 10px 5px #00e7ff;
}



input::-webkit-input-placeholder {
  color: darkgrey;
}

#about-submit {

  display: inline-block;
  margin: 20px 0px;
  padding: 20px 40px;
  border-radius: 40px;
  border: none;
  font-weight: 700;
  font-size: 20px;
  color: white;
  background-color: #00d1e6;
  cursor: pointer;
  transition: border-radius .2s ease,box-shadow .2s ease, margin .2s ease;
}

#about-submit:hover {
  margin: 15px 0px 25px;
  box-shadow: 5px 5px #00a1b1, 10px 10px #006973, 15px 15px #004148;
  border-radius: 8px;
}

figure {
  display: block;
  width: 30%;
  padding: 30px 0;
  margin: auto;
  text-align: center;
}

figure img {
  width: 100%;
}

figure span {
  font-weight: 600;
  font-size: xx-large;
}


/* Service Display */

.services-display {
  text-align: center;
}

.services-display .title {
  padding: 15px 0px;
}


/* Services
----------------------------------------------------------------------------- */

table .button {
  display: block;
  margin: 0;
}

.service-detail h1, .service-detail hr {
  text-align: center;
}


/* Responsive Layout
----------------------------------------------------------------------------- */

/* Half-Screen Desktop */
@media screen and (max-width: 800px) {

  .about-section {
    flex-direction: column;
  }

  .about-section figure {
    width: 80%;
    padding-top: 74.5px;
  }

  .about-section .content {
    max-width: 90%;
  }

  .about-section .title {
    font-size: 3.4em;
  }

  .about-section form {
    text-align: center;
  }
}

/* Tablet */
@media screen and (max-width: 670px) {

  .content {
    top: 18%;
  }
  .value-proposition h1 {
    line-height: 95px;
  }

  .value-proposition h2 {
    width: 90%;
  }

  .value-proposition .button {
    margin-top: 60px;
  }
}



/* Mobile */
@media screen and (max-width: 414px) {

  .content-card {
    width: 90%;
    margin: 20px 0px;
  }

  .content {top: 25%}
  .value-proposition {height: 700px}
  .value-proposition h2 {display: none}
  .value-proposition .button {margin-top: 50px}
  .about-section .title {font-size: 3em}
  .about-section .content h3 {display: none}
  .about-section form p {padding-top: 5px}
}
