footer {

  .wrapper {
    background: $deep;
  }

  .logo {
    font-size: 3.5em;
    color: $mystic;
  }

  .block {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    width: 350px;
    height: 210px;
    color: white;

    @media (max-width: 757px) {
      padding: 0 10px;
    }

    &:nth-of-type(2) .content {
      display: grid;
      grid-template-columns: auto auto;
      justify-content: space-between;
      align-content: space-between;
      padding: 15px 35px;
      width: 100%;
      height: 100%;
      max-height: 150px;
      border-right: 1px solid white;
      border-left: 1px solid white;

      @media (max-width: 1126px) {
        border: none;
      }

      @media (max-width: 757px) {
          padding-top: 0;
      }

      nav,
      ul {
        display: contents;
      }
    }

    &:nth-of-type(3) {

      .content {
        display: block;
        height: 100%;
        width: 100%;
        padding-left: 20px;
        text-align: left;

        @media (max-width: 1126px) {
          padding: 0;
          text-align: center;
        }
      }

      @media (max-width: 757px) {
        padding-top: 45px;
      }

      h2 {
        font-size: 35px;
        font-weight: 600;
        margin: 5px 0;
        color: white;
      }

      p {
        color: #c7c7c7;

        &:nth-of-type(1) {
          margin-bottom: 25px;
        }

        &:nth-of-type(2),
        &:nth-of-type(3) {
          padding: 10px 0px;
          color: white;
        }
      }

      a {
        text-decoration: none;
        transition: all .2s ease;

        &:hover {
          color: white;
        }
      }
    }
  }

  .flex-container {
    height: 300px;

    @media (max-width: 1126px) {
      flex-flow: wrap;
      height: 100%;
      justify-content: space-around;
      padding-bottom: 55px;
    }
  }

  .copyright {
    color: white;
    background-color: $electric;
    padding: 10px 0px;
    text-align: center;
    font-size: 14px;
  }
}
