.logo {
  font-family: bentham;
  font-weight: 400;
  white-space: nowrap;
}

.nav-links {
  list-style: none;

  a {
    color: lightgrey;
    display: block;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: color 0.2s ease-out;
    text-decoration: none;

    &:hover,
    &:focus,
    &.active {
      color: #fff;
    }
  }
}