.navbar {
  background-color: $deep;

  &-nav {
    height: $navbar-height;
    overflow: hidden;
    align-items: center;
    display: flex;
    justify-content: space-between;

    @media (max-width: 770px) {
      justify-content: center;
    }

    & > * {
      z-index: 3;
    }

    .logo {
      font-size: 3em;
      margin-left: 50px;
      color: white;

      @media (max-width: 770px) {
        margin: 0;
        font-size: 2.9em;
      }
    }
  }

  .nav-links {
    display: flex;
    flex-flow: row nowrap;
    margin-right: 50px;

    @media (max-width: 1075px) {
      display: none;
    }
  }

  .nav-links a {
    padding: 31.5px 10px;
  }
}

/* Hamburger Menu */

.hamburger-menu {
  &-icon {
    display: none;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 5px;
    transition: all 0.2s ease;

    @media (max-width: 1075px) {
      display: flex;
    }
  }

  &-icon-bar {
    position: relative;
    width: 34px;
    height: 4px;
    margin: 3px 0;
    background-color: white;
    border-radius: 2px;
    transition: all 0.2s linear;

    &::before,
    &::after {
      content: "";
      height: 4px;
      width: 34px;
      background: white;
      border-radius: 2px;
      position: absolute;
      top: -10px;
      z-index: 1;
      transition: all 0.2s linear;
    }

    &::after {
      top: 10px;
    }
  }

  &-icon-toggle {
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 5px;
    height: 50px;
    width: 50px;
    z-index: 999;
    opacity: 0;
  }

  // Hover effect over hamburger icon
  &-icon-toggle:hover + &-icon {
    background-color: #0005;
  }

  // Rotate bars on hamburger icon click
  &-icon-toggle:checked + &-icon {
    transform: rotate(45deg);
  }

  &-icon-toggle:checked + &-icon &-icon-bar::before,
  &-icon-toggle:checked + &-icon &-icon-bar::after {
    top: 0;
    transform: rotate(90deg);
  }

  // Open mobile navigation menu
  &-icon-toggle:checked ~ .nav-links {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow-y: scroll;
    margin: 0;
    height: 100vh;
    width: 100vw;
    z-index: 2;
    background: rgba(darken($primary, 40), .97);
    animation-name: mobile-menu;
    animation-duration: .15s;


    @keyframes mobile-menu {
      from {opacity: 0;}
      to {opacity: 1;}
    }

    @keyframes mobile-menu-links {
      from {opacity: 0; transform: translateY(20px);}
      to {opacity: 1;transform: translateY(0);}
    }

    a {
      font-size: 1.5rem;
      opacity: 0;
      transform: translateY(20px);
      animation-name: mobile-menu-links;
      animation-duration: .3s;
      animation-delay: .15s;
      animation-fill-mode: forwards;
    }
  }

  &-icon-toggle:checked,
  &-icon-toggle:checked ~ .logo,
  &-icon-toggle:checked + &-icon {
    position: fixed;
  }
}
