{% extends 'base/base.html' %}

{% block breadcrumbs %}
<ul>
  <li><a href="{% url 'base:home' %}">Home</a></li>
  <li><a href="{% url 'portfolio:index' %}">Portfolio</a></li>
  <li></li>
</ul>
{% endblock %}

{% block main %}
<div class="project">
  <div class="content">
    <h1 class="title">{{ project.title }}</h1>
    <img class="banner" src="{{ project.image.url }}">
    {% if project.download_file or project.live_url %}
    <div class="buttons-area">
      {% if project.download_file %}<a title="Download {{ project.title }}" class="download-button" href="{{ project.download_file.url }}" download>Download</a>{% endif %}
      {% if project.live_url %}<a class="live-button" href="{{ project.live_url }}">See live •</a>{% endif %}
    </div>
    {% endif %}
    {% if project.description %}<p class="description">{{ project.description|safe|linebreaksbr }}</p>{% endif %}
    {% if project.requirements.all %}
    <section class="requirements">
      <h2 class="section-title">Requirements</h2>
      <ul>
        {% for requirement in project.requirements.all %}
        <li>{{ requirement.name }}</li>
        {% endfor %}
      </ul>
    </section>
    {% endif %}
    {% if project.demo_vid_url %}
    <section class="demo">
      <h2 class="section-title">Demo</h2>
      <div class="video-wrapper">
        <iframe class="demo-vid" src="{{ project.demo_vid_url }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </section>
    {% endif %}
    {% if project.how_it_works %}
    <section class="how-it-works">
      <h2 class="section-title">How It Works</h2>
      <p class="how-it-works-text">{{ project.how_it_works|safe|linebreaksbr }}</p>
    </section>
    {% endif %}
    {% if project.technologies_used.all %}
    <section class="technologies-used">
      <h2 class="section-title">Technologies Used</h2>
      <div class="flex-grid">
        {% for technology in project.technologies_used.all %}
        <a class="technology" title="{{ technology.url }}"target="_blank" href="{{ technology.url }}">
          <img class="icon" src="{{ technology.icon.url }}" alt="{{ technology.name }}">
          <p class="technology-name">{{ technology.name }}</p>
        </a>
        {% endfor %}
      </div>
    </section>
    {% endif %}
    {% if project.contributors.all %}
    <section class="contributors">
      <h2 class="section-title">Contributors</h2>
      <div class="flex-grid">
        {% for contributor in project.contributors.all %}
        <a class="contributor" target="_blank" href="{{ contributor.website }}" title="Visit {{ contributor.first_name }}'s website">
          <img class="profile-picture" src="{{ contributor.profile_picture.url }}" alt="{{ contributor.first_name }}'s profile picture.">
          <p class="name">{{ contributor.full_name }}</p>
        </a>
        {% endfor %}
      </div>
    </section>
    {% endif %}
    {% if project.future_plans %}
    <section class="future-plans">
      <h2 class="section-title">Future Plans</h2>
      <p class="future-plans-text">{{ project.future_plans|safe|linebreaksbr }}</p>
    </section>
    {% endif %}
  </div>
</div>
{% endblock %}
