.author {
  color: black;
  bottom: 2px;
  font-weight: 400;
}

.pub-date {
  color: darkgrey;
  padding-top: 8px;
  margin-top: auto;
  font-weight: 400;
}

article {
  max-width: 750px;
  width: 90%;
  margin: auto;
  padding:0 50px 20px;
  margin: 30px auto 50px;
  box-shadow: 0 0 15px grey;
  border-radius: 15px;
  background-color: #ffffff;
  overflow: hidden;

  @media (max-width: 910px) {
    margin-top: 10px;
    padding: 0 0 20px;
    width: 100%;
    max-width: none;
    border-radius: 0;
    box-shadow: 0 0 8px grey;

    h1,
    img,
    p,
    ul,
    ol {
      width: 85% !important;
    }

    :not(li) {
      margin: auto;
    }
  }

  @media (max-width: $mobile) {

    img {
      width: 100% !important;
    }
  }

  h1 {
    font-family: bentham;
      font-size: 3em;
      font-weight: 600;
      padding: 10px 0px;
  }

  img {
    display: block;
  }

  p,
  li {
    line-height: 1.6em;
    font-size: 18px;
    letter-spacing: .03em;
  }

  li {
    font-weight: 600;

    p {
      font-weight: 600;
    }
  }

  em {
    font-weight: 600;
  }

  *:not(ol):not(ul) {
    width: 100%;
  }

  .blog-body {
    margin-top: 20px;
  }
}

