{% extends 'home/base.html' %}

{% block title %}About | Zack Plauché{% endblock %}

{% block main %}
<h1>About</h1>

<p>Hey there, I'm Zack.</p>
<br>
<p>
I'm the creator of this website, my brands (like ZackHub.com), music,
programs, apps, etc.
<p>
  <br>
<p>
I'm a lot of things, like life itself. I find it easier to define who I am <br>
through my skills, results, and interests. So first, what better way to <br>
display skills than with skillbars? (Maybe skill trees, but these are good for
now)
<p>
<!-- TODO: Add skillbars here.
<div class="skillbars">
</div>
-->
<h2>I know big words.</h2>
<br>
<p><strong>Yep, you read that correctly.</strong></p>
<p>To impress you, I wanted to
share some of the big words I know, mostly because I don't really flaunt them
around anywhere else besides when they're actually needed.</p>
<p>Here are some of them:</p>
<ul>
  <li><p>Neuroplasticity</p></li>
</ul>

<img src="{% static 'home/img/bye_2.gif' %}" width=80%>
<h1>Speed and quality.</h1>
<p>We don't rush the process of fulfilling your service, but we also don't waste time.
We're smarter & better than that. We fulfill our client's orders with only as much time is needed to provide our top quality standards of service.
  All of which are we aim clearly define in a clear and concise language for our clients and even children to understand. (It'd be a funny idea to have a video of a child explaining what SEO is here lmao).
</p>
{% endblock %}
