<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  {% load static %}
  <meta charset="utf-8">
  <meta name="author" content="Zack Plauche">
  <title>{% block title %}{% endblock %}</title>

  <link href="https://fonts.googleapis.com/css?family=Bentham|Montserrat:400,400i,500,600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'home/style.css' %}">
  <link rel="icon" type="image/png" href="{% static 'home/favicons/favicon_32x32.png' %}"
  <style>
  {% block style %}
  {% endblock %}
  </style>
</head>
<body>
  <header>

    <nav>
      <h1><a class="logo" href="{% url 'home:index' %}">Zack Plauché</a></h1>
      <ul>
        <li><a href="{% url 'services:index' %}">Services</a></li>
        <li><a href="{% url 'blog:index' %}">Blog</a></li>
        <li><a href="{% url 'home:contact' %}">Contact</a></li>
        <li><a href="{% url 'home:about' %}">About</a></li>
      </ul>
    </nav>
  </header>
  <main>
  {% block content %}

  {% endblock %}
  </main>
  <footer>
    <p>© Copyright Zack Plauché {% now "Y" %}</p>
  </footer>
</body>
</html>
