<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  {% load static %}
  <meta charset="utf-8">
  <meta name="author" content="Zack Plauche">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% block title %}{% endblock %}</title>
  <link href="https://fonts.googleapis.com/css?family=Bentham|Montserrat:400,400i,500,600,700,900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'home/reset.css' %}">
  <link rel="stylesheet" href="{% static 'home/style.css' %}">
  <link rel="stylesheet" href="{% static 'home/navbar.css' %}">
  <link rel="icon" type="image/png" href="{% static 'home/favicons/favicon_32x32.png' %}">
  <style>
  {% block style %}
  {% endblock %}
  </style>
</head>
<body>

  <header>

    <!-- Top Navigation -->
    <nav class="bg-dark dark" id="navbar">

      <!-- Logo/Home Page Link -->
      <h1 class="nav-logo"><a href="{% url 'home:index' %}">Zack Plauché</a></h1>

      <!-- Navigation Links -->
      <ul id="myLinks">
        <li><a href="{% url 'services:index' %}">Services</a></li>
        <li><a href="{% url 'blog:index' %}">Blog</a></li>
        <li><a href="{% url 'home:contact' %}">Contact</a></li>
        <li><a href="{% url 'home:about' %}">About</a></li>
      </ul>

      <!-- Hamburger Menu Icon -->
      <input type="checkbox" class="toggle">
      <div class="hamburger">
        <div class="bar"></div>
      </div>

    </nav><!-- End Navigation -->

    {% block header %}
    {% endblock %}

  </header>

  <main>
    {% block main %}
    {% endblock %}
  </main>

  <footer>

    <div class="wrapper bg-dark dark">
      <div class="flex-container">

      <!-- Footer block 1 -->
      <div class="block">
        <div id="footerBlock1">
          <h2 class="nav-logo">Zack Plauché</h2>
        </div>
      </div>

      <!-- Footer Block 2 -->
      <div class="block">
        <div id="footerBlock2">
          <nav>
            <ul>
              <li><a href="{% url 'home:about' %}">About</a></li>
              <li><a href="{% url 'home:contact' %}">Contact</a></li>
              <li><a href="">Portfolio</a></li>
              <li><a href="{% url 'blog:index' %}">Blog</a></li>
              <li><a href="{% url 'services:index' %}">Services</a></li>
            </ul>
          </nav>
        </div>
      </div>

      <!-- Footer block 3 -->
      <div class="block">
        <div id="footerBlock3">
          <h2>Connect with me.</h2>
          <p>Have quesitons? Feel free to reach me at my phone or email listed below:
          <p><i>Phone:</i>   <a href="tel: +13032618653">+1 (303) 261-8653</a></p>
          <p><i>Email:</i>   <a href="mailto:zackknowspython@gmail.com">zackkonwspython@gmail.com</a></p>
        </div>
      </div>

    </div>
  </div>

    <div id="copyright" class="bg-ash-light dark">
      <p>© Copyright Zack Plauché {% now "Y" %}</p>
    </div>
    <script> </script>
  </footer>
</body>
</html>
