{% extends "home/base.html" %}

{% block title %}Zack Plauché | Scale Yourself & Your Business{% endblock %}

{% block header %}
  <div class="value-proposition">
    <div class="content">
    <h1>Get Online, Automate, & Scale.</h1>
    <h2>Work with Zack Plauché to get your business online & working without you so you can make a positive impact while you sleep.</h2>
    <a class="button" href="#">Get Started</a>
    </div>
  </div>
{% endblock %}

{% block main %}

  <div class="logos">
    <p>Worked with:</p>
    <div class="flex-container">
      {% comment "Make this into a Model" %}{% endcomment %}
      <a target="_blank" href="https://baroneproductions.com/"><img src="{% static 'home\images\logo-BP-400 x100.jpg' %}"></a>
    </div>
  </div>
  <div class="about-section theme-dark"><!----- About Section  ------>
    <figure>
      <img src="{% static 'home/images/pro-dev-zack.jpg' %}">
      <h4><span class="primary">Zack Plauché</span><br>Freelancer, CEO of ZackHub</h4>
    </figure>
    <div class="content">
      <h2 class="primary title">Work Your Business Smarter.</h2>
      <h3>Scaling a business or a brand is a process that's been done over and over.
        Building an online platform, effectively marketing your services, and scaling your infrastructure at the right time is something that's easier said than done.
        <br>
        <br>
        I help people & companies interested in scaling to gracefully succeed at doing so.
      </h3>

      <!-- Email Collection form -->
      <form action="index.html" method="post">
        {% csrf_token %}
        <p>Subscribe for free trainings, new blog posts, & curated content made to help you scale.</p>
        <input type="email" name="email" placeholder="Your email here"><br>
        <button id="about-submit" type="submit" name="submit">Get Started</button>
      </form><!-- End of email collection form -->

    </div>
  </div> <!----- End of About Section ----->

  <div class="services-display">
    <h1 class="title">Services</h1>
      {% for service in services.all %}
      <div class="content-card">
        <img class="icon" src="{{ service.icon.url }}">
        <h1>{{ service.title }}</h1>
        <p>{{ service.short_description|linebreaksbr }}</p>
        <span class="content-card-bottom"><a class="button" href="{% url 'services:service_detail' service.slug %}">Learn More</a></span>
      </div>
      {% endfor %}
  </div>
  <div class="testimontials">
  </div>
  {% endblock %}
