/* Sitewide
_____________________________________________________________________________ */

html {
  scroll-behavior: smooth;
}

* {
  font-family: Montserrat, sans-serif;
  margin: 0;
  padding: 0;
}

::selection {
  background: #21ABDE;
  color: white;
}

h1 {
  font-weight: 700;
  font-family: bentham;
  font-size: 3em;
}

h2 {
  font-weight: 600;
}

a {
  color: #21ABDE;
  font-weight: 500;
  text-decoration: none;
}

ul {
  padding: 0px;
  overflow: hidden;
}

nav ul {
  list-style: none;
}

input {
  margin: 3px 0px;
}

main {
  overflow: auto;
  background-color: #f5f5f5;
}

main h1,
main h2,
main h4 {
  color: #004a66;
}

main h2 {
  font-size:2em;
}

main ul,
main ol {
  padding-left: 40px;
}


/* Themes & Background Layouts
----------------------------------------------------------------------------- */

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row;
}

.dark {
  background-color: #172933;
}

.bg-deep {
  background-color: #0c181e;
}

.bg-midnight {
  background-color: #080f13;
}

.dark *:not(a):not(input):not(.nav-logo) {
  color: white;
}

.dark h1,
.dark h2,
.dark em,
.dark strong,
.dark .title,
.dark .primary,
.dark .breadcrumbs a {
  color: #00e7ff !important;
}

.dark h1 {
  font-weight: 400;
}

.dark .button {
  background-color: #00d1e6;
}

.dark .button:hover {
  box-shadow: 0 0 20px #00d1e6;
  background-color: #00d1e6;
}

/* General Purpose
----------------------------------------------------------------------------- */

.button {
  text-decoration: none;
  background-color: #004a66;
  color: #ffffff;
  padding: 8px  12px;
  border-radius: 4px;
  display: block;
  transition: all .15s ease-out;
  white-space: nowrap;
}

.button:hover {
  background-color: #21ABDE;
}



.title {
  font-weight: 900;
  font-size: 2.5em;
  text-transform: capitalize;
}

.primary {
  color: #21ABDE;
}

.section-title {
  font-size: 3em;
  font-family: bentham;
  padding: 15px 0 30px;
  text-align: center;
}



.logos {
  text-align: center;
  background-color: white;
}

.logos p {
  padding: 10px;
  color: #0b0b0b !important;
}

.flex-container {
  display: flex;
  flex-flow: row;
  list-style: none;
  align-items: center;
  justify-content: center;
  height: 100px;
}

.flex-container a {
  display: contents;
}

.flex-container img {
  display: block;
  height: 60%;
  margin: auto;
}

/* Navigation
----------------------------------------------------------------------------- */

.nav-logo,
.nav-logo a {
  font-family: bentham;
  font-weight: 400;
  white-space: nowrap;
}

nav ul a {
  color: lightgrey;
  display: block;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 1px;
  padding: 31.5px 10px;
  text-transform: uppercase;
  transition: color .2s ease-out;
  text-decoration: none;
}

nav ul a:hover {
  color: #fff;
}


/* Top Navigation
_____________________________________________________________________________ */

/* Navbar
----------------------------------------------------------------------------- */

header nav {
  align-items: center;
  display: flex;
  height: 60px;
  justify-content: space-between;
  overflow: hidden;
  z-index: 0;
}

header .nav-logo {
  font-size: 3em;
  padding-left: 50px;
}

header .nav-logo a {
  color: white;
}

header nav li {
  float: left;
}

header nav ul {
  padding-right: 50px;
}


/* Mobile Navbar
----------------------------------------------------------------------------- */

.hamburger-menu-icon {
  align-items: center;
  border-radius: 50%;
  box-sizing: border-box;
  cursor: pointer;
  display: none;
  flex-flow: column wrap;
  height: 50px;
  justify-content: center;
  position: absolute;
  right: 5px;
  top: 5px;
  transition: all .2s ease;
  width: 50px;
}

.hamburger-menu-icon-bar {
  position: relative;
  width: 34px;
  height: 4px;
  background-color: white;
  margin: 3px 0;
  border-radius: 2px;
  transition: all .2s linear;
}

.hamburger-menu-icon-bar::before,
.hamburger-menu-icon-bar::after {
  content: '';
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 34px;
  height: 4px;
  background: white;
  border-radius: 2px;
  transition: all .2s linear;
}

.hamburger-menu-icon-bar::after {
  top: 10px;
}

.hamburger-menu-icon-toggle {
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 5px;
  height: 50px;
  width: 50px;
  z-index:999;
  opacity: 0;
}

.hamburger-menu-icon-toggle:hover + .hamburger-menu-icon {
  background-color: #00000050;
}

.hamburger-menu-icon-toggle:checked + .hamburger-menu-icon {
  transform: rotate(45deg);
}

.hamburger-menu-icon-toggle:checked + .hamburger-menu-icon .hamburger-menu-icon-bar::before,
.hamburger-menu-icon-toggle:checked + .hamburger-menu-icon .hamburger-menu-icon-bar::after {
  top: 0;
  transform: rotate(90deg);
}


@media screen and (max-width: 1075px) {

  .hamburger-menu-icon {
    display: flex;
  }

  header nav ul {
    display: none;
  }

}

@media screen and (max-width: 770px) {

  header nav {
    justify-content: center;
  }

  header .nav-logo {
    padding: 0;
    font-size: 2.9em;
  }

}

/* Breadcrumbs
----------------------------------------------------------------------------- */

.breadcrumbs ul {
  padding: 10px 0 0 40px;
  list-style: none;
  text-decoration: none;
}

.breadcrumbs li {
  display: inline;
}

.breadcrumbs a:hover {
  text-decoration: underline;
  color: #1982a9;
}

.breadcrumbs li+li:before {
  padding: 8px;
  content: "/\00a0";
}

.dark .breadcrumbs li {
  color: white;
}

.breadcrumbs p {
  display: inline;
}

.dark .breadcrumbs p {
  color: lightgrey;
}

.dark .breadcrumbs a,
.mystic .breadcrumbs a {
  color: #00e7ff;
}


/* Header
_____________________________________________________________________________ */

/* Value Proposition
----------------------------------------------------------------------------- */

.value-proposition {
  text-align: center;
  display: run-in;
  background: white url('../img/resized-man-relaxing-in-spring.jpg')fixed;
  background-size:cover;
  background-position: center;
  height: 800px;
  color: white;
  margin-top: -92px;
}

.content {
  position:relative;
  top: 30%;
}

.value-proposition h1 {
  color: white;
  margin: 0px 0px 10px;
  font-family: 'Bentham', serif;
  font-size: 82px;
}

.value-proposition h2 {
  max-width: 1050px;
  margin: 0px auto;
}

.value-proposition .button-gigantic {
  display: block;
  padding: 24px 36px;
  margin: auto;
  width: 275.85px;
  text-decoration: none;
  border-radius: 4px;
  font-size:46px;
  font-weight: 700;
  background-color: #ffffff15;
  color: white;
  margin-top: 200px;
  border: 1px solid white;
  white-space: nowrap;
  transition: all .15s ease-out;
}

.value-proposition .button-gigantic:hover {
  background-color: #ffffff50;
}

@media screen and (max-width: 1075px) {

  /* Tidy positioning for main CTA button */
  .value-proposition .button-gigantic {
    margin-top: 80px;
  }

}

/* Main
_____________________________________________________________________________ */

.index {}

.index-title {
  font-size: 3.5em;
  padding: 0 0 20px 40px;
}

.dark .index-title {
  font-weight: 400;
}

@media screen and (max-width: 1017px) {

  .index-title {
    text-align: center;
    padding: 10px 0 20px 0px;
  }

}

.index-grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-bottom: 30px;
}

.index-list {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin-bottom:30px;
}

.index-block {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 420px;
  padding: 10px 15px;
  margin: 0 25px 30px;
  text-align: center;
  position: relative;
  background-color: white;
  box-shadow: 0 0 5px grey;
  transition: all .2s ease;
}

.dark .index-block {
  background-color: #080f13;
  box-shadow: 0px 0px 5px #00e7ff;
}

.index-block:hover {
  box-shadow: 0 0 10px #21ABDE;
}

.dark .index-block:hover,
.dark .index-card:hover {
  box-shadow: 0px 0px 10px 5px #00e7ff;
}

.index-block h2 {
  display: block;
  font-family: bentham;
  font-size: 2.5em;
  transition: all .2s ease;
}

.dark .index-block h2 {
  font-weight: 400;
}

.index-block img {
  display: block;
  max-height: 342px;
  height: auto;
  width: 100%;
  object-fit: contain;
}

.index-banner {
  display: flex;
  margin-bottom: 20px;
  padding: 10px;
  height: 180px;
  width: 90%;
  background-color: white;
  box-shadow: 0 0 5px grey;
}

.index-card {
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
  height: 540px;
  min-height: 540px;
  width: 90%;
  margin: 0 30px 30px;
  max-width: 400px;
  border-radius: 30px;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 5px lightgrey;
  border: 1px solid lightgrey;
  overflow: hidden;
  transition: all .2s ease;
}

/* Make card layout look fine on Mobile */
@media screen and (max-width: 415px) {

  .index-card {
    height: auto;
    margin: 0 0 30px;
  }
}

.index-card:hover {
  box-shadow: 0 0 10px #21ABDE;
}

.dark .index-card {
  background-color: #080f13;
  box-shadow: 0px 0px 5px #00e7ff;
  border: none;
}

.dark .index-card:hover {
  box-shadow: 0px 0px 10px 5px #00e7ff;
}


.index-card .icon {
  padding-top: 10px;
  height: auto;
  width: 60px;
}

.index-card h2,
.index-card .description {
  width: 95%;
}

.index-card h2 {
  padding: 5px 0;
}

.index-card .description {
  margin-top: 10px;
  color: black;
  line-height: 1.4;
  font-weight: 300;
  font-size: 13px;
}

@media screen and (max-width: 415px) {

  .index-card .description {
    margin-bottom: 30px;
  }

}

.index-card .button {
  margin-top: auto;
  margin-bottom: 14px;
}

.dark .index-card {
  background-color: #0c181e;
}

/* Home Page
----------------------------------------------------------------------------- */

.test-section {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}




/*  About Section
---------------------------------- */

.about-section {
  display: flex;
  align-items: center;
  background: url('../img/blue-mountain-stars-cropped.jpg') fixed;
  background-size:cover;
}

.about-section .title {
  font-family: Bentham;
  font-size: 4em;
  padding: 0px 0px 10px;

}

.about-section .content {
  max-width: 55%;
  margin: 0px auto;
}

.about-section form p {
  padding: 40px 0px 10px;
}

.about-section form {
  display: inline-block;
  position: relative;
}

.about-section input {
  width: 100%;
  padding: 14px 0px 14px 30px;
  border: 1px solid black;
  border-radius: 10px;
  font-weight: 400;
  font-size: 16px;
  box-sizing: border-box;
  transition: all .2s ease;
}

.about-section input:hover {
  box-shadow: 0px 0px 10px 5px #00e7ff;
}

.about-section input:focus {
  outline: none;
  box-shadow: 0px 0px 10px 5px #00e7ff;
}

input::-webkit-input-placeholder {
  color: darkgrey;
  font-weight: 400;
}

#about-submit {

  display: inline-block;
  margin: 20px 0px;
  padding: 20px 40px;
  border-radius: 40px;
  border: none;
  font-weight: 700;
  font-size: 20px;
  color: white;
  background-color: #00d1e6;
  cursor: pointer;
  transition: border-radius .2s ease,box-shadow .2s ease, margin .2s ease;
}

#about-submit:hover {
  margin: 15px 0px 25px;
  box-shadow: 5px 5px #00a1b1, 10px 10px #006973, 15px 15px #004148;
  border-radius: 8px;
}



figure {
  display: block;
  width: 30%;
  padding: 30px 0;
  margin: auto;
  text-align: center;
}

figure img {
  width: 100%;
  border-radius:10px;
}

figure span {
  font-weight: 600;
  font-size: xx-large;
}

/* About
_____________________________________________________________________________ */

.about {}

.about-header {
  display: flex;
  align-items: center;
  height: 92vh;
  width: 100%;
  background: url('../img/zack-about-banner.jpg') no-repeat;
  background-position: center right;
  background-size: cover;
}

.about-intro {
  margin: 0 0 0 20%;
  padding-bottom: 23px;
  transition: background-color .2s ease;
}

.about-title {
  display: inline-block;
  color: white;
  padding-left: 10px;
  font-weight: 400;
  font-size: 6em;

}

.about-subtitle {
  color: white;
  font-weight: 600;
  spacing: .1;
  width: 600px;
}

.header-button-area {
  display: inline-block;
  margin: 10px auto 0;
  width: auto;

}

.header-button {
  display: block;
  background-color: white;
  padding: 20px;
  margin: 10px 0 0px;
  border-radius:100vh;
  white-space: nowrap;
  width: 120px;
  transition: all .2s ease;
}

.header-button-area:hover .header-button {
  box-shadow: 0 10px 10px #00000070;
  color: white;
  margin: 0 0 10px;
  background-color: #21ABDE;
}

.header-button .arrow {
  border: solid #21ABDE;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px 3px;
  margin: 0 0 3px 3px;
  transform: rotate(-135deg);
  -webkit-transform: rotate(45deg);
}

.header-button-area:hover .header-button .arrow {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding:3px;
}


.about-content {
  padding: 20px 2%;
}

.bio img {
  display: block;
  width: 30%;
  margin: auto;
}

/* Blog
_____________________________________________________________________________ */

/* BLog index
----------------------------------------------------------------------------- */

.author,
.pub-date {
  font-weight: 400;
}

.author {
  color: black;
  bottom: 2px;
}

.pub-date {
  color: darkgrey;
  padding-top: 8px;
  margin-top: auto;
}


/* Blog Details
----------------------------------------------------------------------------- */



article {
  max-width: 750px;
  width: 90%;
  margin: auto;
  padding:0 50px 20px;
  margin: 30px auto 50px;
  box-shadow: 0 0 15px grey;
  border-radius: 15px;
  background-color: #ffffff;
  overflow: hidden;
}

article h1 {
  font-family: bentham;
    font-size: 3em;
    font-weight: 600;
    padding: 10px 0px;
}

article img {
  display: block;
}

article p,
article li,
.service-detail .description p,
.service-detail .description li {
  line-height: 1.6em;
  font-size: 18px;
}

article p,
article li {
  letter-spacing: .03em;
}
article li,
article li p,
article em,
.service-detail .description li,
.service-detail .description li p,
.service-detail .descrpition em {
  font-weight: 600;
}

article *:not(ol):not(ul) {
  width: 100%;
}

article .blog-body {
  margin-top: 20px;
}

.dark article {
  background-color: #080f13;
  box-shadow: 0px 5px 20px #00e7ff;
}

.dark article li,
.dark article strong,
.dark article i {
  color: #00e7ff !important;
}

@media screen and (max-width: 910px) {

  article {
    margin-top: 10px;
    padding: 0 0 20px;
    width: 100%;
    max-width: none;
    border-radius: 0;
    box-shadow: 0 0 8px grey;
  }

  article h1,
  article img,
  article p,
  article ul,
  article ol {
    width: 85% !important;
  }

  article :not(li) {
    margin: auto;
  }

}

@media screen and (max-width: 414px) {



  article img {
    width: 100% !important;
  }

}

/* Services
_____________________________________________________________________________ */


/* Services Index
----------------------------------------------------------------------------- */


/* Services Detail
----------------------------------------------------------------------------- */


.service-detail {
  display: block;
  padding-top: 5px;
  margin-top: 5px;
  width: 100%;
  background-color: white;
  box-shadow: 0 0 5px grey;
}

.dark .service-detail {
  background-color: #0c181e;
  box-shadow: 0 5px 10px #00E7FF;
}

.service-detail .content {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 95%;
  margin: 0 auto 30px;
  padding: 30px 0;
}

.service-detail .icon {
  max-width: 150px;
  margin: 0 0 30px;
}

.service-detail h1 {
  font-size: 3.5em;
  margin-bottom: 20px;
  max-width: 95%;
}



.service-detail .body {
  max-width: 865px;
  width: 95%;
  font-size: 16px;
}

.service-detail .description {
  display: contents;
}

.service-detail h2 {
  font-family: bentham;
  font-size: 3em;
  margin: 30px 0 18px;
  text-align: center;
}

.service-detail .price {
  font-size: 2.5em;
  font-family: Montserrat;
  font-weight: 500;
  margin-bottom: 40px;
}

.service-detail .price span {
  color: black;
  font-weight: 400
}

.service-detail .deliverables ul {
  padding-left: 20px;
}

.service-detail .deliverables li {
  font-weight: 500;
  font-size: 20px;
  padding: 2px;
}

.service-detail .button {
  display: block;
  font-size: 40px;
  padding: 50px 0;
  text-align: center;
  max-width: 521.69px;
  width: 95%;
}

@media screen and (max-width: 414px) {

  .service-detail .button {
    padding: 40px 0;
  }

}

/* Footer
_____________________________________________________________________________ */

footer .flex-container {
  height: 300px;
}

footer .block {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;

  width: 350px;
  height: 210px;

  color: white;
}

footer nav,
footer ul {
  display: contents;
}

footer .nav-logo {
  font-size: 3.5em;
  color: #00e7ff;
}

#footerBlock2 {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  align-content: space-between;
  padding: 30px 35px;
  width: 100%;
  height: 100%;
  max-height: 150px;
  border-right: 1px solid white;
  border-left: 1px solid white;
}

#footerBlock3 {
  display: block;
  height: 100%;
  width: 100%;
  padding-left: 20px;
  text-align: left;
}

#footerBlock3 h2 {
  font-size: 35px;
  font-weight: 600;
  margin: 5px 0;
  color: white;
}

#footerBlock3 p {
  color: #c7c7c7;
}

#footerBlock3 p:nth-child(2) {
  margin-bottom: 25px;
}

#footerBlock3 p:nth-child(3),
#footerBlock3 p:nth-child(4) {
  padding: 10px 0px;
  color: white;
}

#footerBlock3 a {
  text-decoration: none;
  transition: all .2s ease;
}

#footerBlock3 a:hover {
  color: white;
}

#copyright {
  color: white;
  background-color: #21ABDE;
  padding: 10px 0px;
  text-align: center;
  font-size: 14px;
}


@media screen and (max-width: 1126px) {

  footer .flex-container {
    flex-flow: wrap;
    height: 100%;
    justify-content: space-around;
    padding-bottom: 55px;
  }

  #footerBlock2 {
    border: none;
  }

  #footerBlock3 {
    padding: 0;
    text-align: center;
  }

}

@media screen and (max-width: 757px) {

  footer .block {
    padding: 0 10px;
  }

  footer .block:nth-child(3) {
    padding-top: 45px;
  }

  #footerBlock2 {
    padding-top: 0;
  }

}

/* Responsive Layout
----------------------------------------------------------------------------- */

/* Half-Screen Desktop */
@media screen and (max-width: 800px) {

  .about-section {
    flex-direction: column;
  }

  .about-section figure {
    width: 80%;
    padding-top: 74.5px;
  }

  .about-section .content {
    max-width: 90%;
  }

  .about-section .title {
    font-size: 3.4em;
  }

  .about-section form {
    text-align: center;
  }
}

/* Tablet */
@media screen and (max-width: 670px) {

  .content {
    top: 18%;
  }
  .value-proposition h1 {
    line-height: 95px;
  }

  .value-proposition h2 {
    width: 90%;
  }

  .value-proposition .button {
    margin-top: 60px;
  }
}



/* Mobile */
@media screen and (max-width: 414px) {

  .content-card {
    width: 90%;
    margin: 20px 0px;
  }

  .content {top: 25%}
  .value-proposition {height: 700px}
  .value-proposition h2 {display: none}
  .value-proposition .button {margin-top: 50px}
  .about-section .title {font-size: 3em}
  .about-section .content h3 {display: none}
  .about-section form p {padding-top: 5px}
}
