{% extends 'base.html' %}

{% block title %}Services | Zack Plauché{% endblock %}

{% block breadcrumbs %}
<ul>
  <li><a href="{% url 'base:home' %}">Home</a></li>
  <li>
    <p>Services</p>
  </li>
</ul>
{% endblock %}

{% block content %}
<section class="index">
  <h1 class="index-title">Services</h1>
  <div class="index-container">


    <section class="icon-card-grid">
      {% for service in services.all %}
      {% if service.display == True %}
      <a class="icon-card" href="{{ service.get_absolute_url }}">
        {% if service.icon %}
        <img class="icon" src="{{ service.icon.url }}">
        {% endif %}
        <h2>{{ service.title}}</h2>
        <div class="description">
          <p>{{ service.short_description|linebreaksbr }}</p>
        </div>
        <div class="button">
          <p>Learn More</p>
        </div>
      </a>
      {% endif %}
      {% endfor %}
    </section>
  </div>
</section>
{% endblock %}