{% extends 'base.html' %}

{% block title %}{{ service.title }} | Zack Plauché{% endblock %}

{% block breadcrumbs %}
<ul>
  <li><a href="{% url 'base:home' %}">Home</a></li>
  <li><a href="{% url 'services:service_list' %}">Services</a></li>
  <li>
    <p>{{ service.title }}</p>
  </li>
</ul>
{% endblock %}


{% block content %}
<section class="service-detail">
  <div class="content">
    {% if service.icon %}
    <img class="icon" src="{{ service.icon.url }}">
    {% endif %}
    <h1>{{ service.title }}</h1>
    <div class="body">
      <div class="description">
        {% if service.long_description %}
        {{ service.long_description|safe }}
        {% else %}
        {{ service.short_description|linebreaksbr }}
        {% endif %}
      </div>
      <h2>Deliverables</h2>
      <div class="deliverables">
        {% if service.deliverables %}
        <ul>
          {% for deliverable in service.deliverables.all %}<li>{{ deliverable.name }}</li>{% endfor %}
        </ul>
        {% endif %}
      </div>

      <h2 class="price">Price: <span>{{ service.price_display }}</span></h2>
    </div>
    <a class="button" href="{% url 'services:order_summary' service.slug %}">{{ service.call_to_action }}</a>
  </div>
</section>
{% endblock %}