{% load static %}
<!-- Top Navigation -->
<nav class="navbar">

  <!-- Logo/Home Page Link -->
  <a class="logo" href="{% url 'base:home' %}">Zack Plauché</a>

  <!-- Navigation Links -->
  <ul class="nav-links">
    <li><a {% if 'about' in request.path %}class="active" {% endif %} href="{% url 'base:about' %}">About</a></li>
    <li><a {% if 'services' in request.path %}class="active" {% endif %} href="{% url 'services:service_list' %}">Services</a></li>
    <li><a {% if 'blog' in request.path %}class="active" {% endif %} href="{% url 'blog:post_list' %}">Blog</a></li>
    <li><a {% if 'portfolio' in request.path %}class="active" {% endif %} href="{% url 'portfolio:project_list' %}">Portfolio</a></li>
    <li><a {% if 'contact' in request.path %}class="active" {% endif %} href="{% url 'base:contact' %}">Contact</a></li>
  </ul>

  <!-- Hamburger Menu Icon -->
  <input type="checkbox" class="hamburger-menu-icon-toggle">
  <div class="hamburger-menu-icon">
    <div class="hamburger-menu-icon-bar"></div>
  </div>
</nav><!-- End Navigation -->