@use "reset";
@use "defaults";
@use "config" as *;
@use "utilities";
@use 'components';
@use 'pages';

/* Themes & Background Layouts
----------------------------------------------------------------------------- */

.dark {
  background-color: $dark;

  *:not(a):not(input):not(.nav-logo) {
    color: white;
  }

  h1,
  h2,
  em,
  strong,
  .title,
  .text-primary,
  .breadcrumbs a {
    color: $mystic !important;
  }

  h1 {
    font-weight: 400;
  }

  .button {
    background-color: $darkmystic;

    &:hover {
      box-shadow: 0 0 20px $darkmystic;
      background-color: $darkmystic;
    }
  }

  .index-title {
    font-weight: 400;
  }

  .breadcrumbs {
    li {
      color: white;
    }

    p {
      color: lightgrey;
    }

    a {
      color: $mystic;
    }
  }

  .service-detail {
    background-color: $deep;
    box-shadow: 0 5px 10px #00e7ff;
  }

  .polaroid-card {
    background-color: $midnight;
    box-shadow: 0px 0px 5px $mystic;

    &:hover {
      box-shadow: 0px 0px 10px 5px $mystic;
    }

    h2 {
      font-weight: 400;
    }
  }

  .icon-card {
    background-color: $deep;
    box-shadow: 0px 0px 5px $mystic;
    border: none;

    &:hover {
      box-shadow: 0px 0px 10px 5px $mystic;
    }
  }

  article {
    background-color: $midnight;
    box-shadow: 0px 5px 20px $mystic;

    li,
    strong,
    i {
      color: $mystic !important;
    }
  }

  .contact {
    a {
      color: $mystic;
      transition: all 0.2s ease;

      &:hover {
        text-shadow: 0 0 10px $mystic;
      }
    }

    .big-button {
      background-color: $darkmystic;

      &:hover {
        background-color: $darkmystic;
        box-shadow: 0 0 20px $mystic;
      }
    }
  }

  .order-summary {
    .order-box {
      background-color: $deep;
      box-shadow: 0 0 5px $mystic;

      .order-box-subtitle {
        color: $mystic;
      }
    }

    .button {
      background-color: $darkmystic;

      &:hover {
        background-color: $darkmystic;
      }
    }

    .order-buttons-area {
      .cancel-button {
        color: $mystic;

        &:hover {
          color: $mystic;
          box-shadow: 0 0 20px $mystic;
        }
      }
    }
  }

  .portfolio {
    .display-card-wrapper:hover .display-card {
      box-shadow: 0 0 15px $mystic;
    }

    .display-card {
      background-color: $deep;
      box-shadow: 0 0 1px $mystic;

      .download-button {
        background-color: black;
        box-shadow: 0 0 2px $mystic;

        &:hover {
          background-color: $darkmystic;
        }
      }
    }
  }

  .project {
    background-color: $deep;
    box-shadow: 0 0 10px $mystic;
    margin-top: 10px;

    .content {
      max-width: 700px;
    }

    .buttons-area {
      .download-button {
        background-color: black;

        &:hover {
          background-color: $darkmystic;
        }
      }
    }

    .section-title {
      font-weight: 400;
    }

    .technology {
      .technology-name {
        color: white;
      }

      &:hover .technology-name {
        color: $mystic;
      }
    }

    .contributor {
      .name {
        color: white;
      }

      &:hover {
        .name {
          color: $mystic;
        }
      }
    }
  }

  .thankyou {
    .button {
      background-color: $darkmystic;

      &:hover {
        background-color: $darkmystic;
      }
    }
  }
}

.title {
  font-weight: 900;
  font-size: 2.5em;
  text-transform: capitalize;
}


.section-title {
  font-size: 3em;
  font-family: bentham;
  padding: 15px 0 30px;
  text-align: center;
}

.logos {
  text-align: center;
  background-color: white;
  padding: 10px 10px 20px;

  p {
    padding-bottom: 10px;
    color: #0b0b0b !important;
  }

  .social-proof-logos {
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 20px 0 0;

    @media (max-width: 790px) {
      margin-bottom: 20px;
    }

    a:not(:last-of-type) {
      @media (max-width: 790px) {
        margin-bottom: 50px;
      }
    }

    img {
      height: 55px;

      @media (max-width: 865px) {
        height: 50px;
      }
    }
  }
}

.flex-container {
  display: flex;
  flex-flow: row;
  list-style: none;
  align-items: center;
  justify-content: center;
  height: 100px;

  a {
    display: contents;
  }

  img {
    display: block;
    height: 60%;
    margin: auto;
  }
}

/* Navigation
----------------------------------------------------------------------------- */

.logo {
  font-family: bentham;
  font-weight: 400;
  white-space: nowrap;
}

.nav-links {
  list-style: none;

  a {
    color: lightgrey;
    display: block;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: color 0.2s ease-out;
    text-decoration: none;

    &:hover,
    &:focus,
    &.active {
      color: #fff;
    }
  }
}

.index {
  &-title {
    font-size: 3.5em;
    padding: 0 0 20px 40px;

    @media (max-width: 1017px) {
      text-align: center;
      padding: 10px 0 20px 0px;
    }
  }

  &-container {
    display: flex;
    justify-content: center;
  }

  &-list {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }

  &-banner {
    display: flex;
    margin-bottom: 20px;
    padding: 10px;
    height: 180px;
    width: 90%;
    background-color: white;
    box-shadow: 0 0 5px grey;
  }
}

