/* Sitewide
_____________________________________________________________________________ */

html {
  scroll-behavior: smooth;
}

* {
  font-family: Montserrat, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


// Colors
$mystic: #00e7ff;
$darkmystic: #00d1e6;
$electric: #21ABDE;
$dark: #172933;
$deep: #0c181e;
$midnight: #080f13;

// Sizes
$mobile: 414px;


::selection {
  background: $electric;
  color: white;
}

h1 {
  font-weight: 700;
  font-family: bentham;
  font-size: 3em;
}

h2 {
  font-weight: 600;
}

a {
  color: $electric;
  font-weight: 500;
  text-decoration: none;
}

ul {
  padding: 0px;
  overflow: hidden;
}

input,
select {
  margin: 3px 0px;
}

main {
  overflow: auto;
  background-color: whitesmoke;
}

main h1,
main h2,
main h4 {
  color: #004a66;
}

main h2 {
  font-size:2em;
}

main ul,
main ol {
  padding-left: 40px;
}

input,
textarea,
select {
  outline: none;
}

textarea {
  overflow: auto;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: darkgrey;
  font-weight: 400;
  transition: color .2s ease;
}

/* Themes & Background Layouts
----------------------------------------------------------------------------- */



.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row;
}

.dark {
  background-color: $dark;

  *:not(a):not(input):not(.nav-logo) {
    color: white;
  }

  h1,
  h2,
  em,
  strong,
  .title,
  .primary,
  .breadcrumbs a {
    color: $mystic !important;
  }

  h1 {
    font-weight: 400;
  }

  .button {
    background-color: $darkmystic;

    &:hover {
      box-shadow: 0 0 20px $darkmystic;
      background-color: $darkmystic;
    }
  }



  .index-title {
    font-weight: 400;
  }

  .breadcrumbs {

    li {
      color: white;
    }

    p {
      color: lightgrey;
    }

    a {
      color: $mystic;
    }
  }

  .service-detail {
    background-color: $deep;
    box-shadow: 0 5px 10px #00E7FF;
  }

  .polaroid-card {
    background-color: $midnight;
    box-shadow: 0px 0px 5px $mystic;

    &:hover {
      box-shadow: 0px 0px 10px 5px $mystic;
    }

    h2 {
      font-weight: 400;
    }
  }

  .icon-card {
    background-color: $deep;
    box-shadow: 0px 0px 5px $mystic;
    border: none;

    &:hover {
      box-shadow: 0px 0px 10px 5px $mystic;
    }
  }

  article {
    background-color: $midnight;
    box-shadow: 0px 5px 20px $mystic;

    li,
    strong,
    i {
      color: $mystic !important;
    }
  }

  .contact {

    a {
      color: $mystic;
      transition: all .2s ease;

      &:hover {
        text-shadow: 0 0 10px $mystic;
      }
    }

    .big-button {
      background-color: $darkmystic;

      &:hover {
        background-color: $darkmystic;
        box-shadow: 0 0 20px $mystic;
      }
    }


  }

  .order-summary {

    .order-box {
      background-color: $deep;
      box-shadow: 0 0 5px $mystic;

      .order-box-subtitle {
        color: $mystic;
      }
    }

    .button {
      background-color: $darkmystic;

      &:hover {
        background-color: $darkmystic;
      }
    }

    .order-buttons-area {

      .cancel-button {
        color: $mystic;

        &:hover {
          color: $mystic;
          box-shadow: 0 0 20px $mystic;
        }
      }
    }
  }

  .portfolio {

    .display-card-wrapper:hover .display-card{
      box-shadow: 0 0 15px $mystic;
    }

    .display-card {
      background-color: $deep;
      box-shadow: 0 0 1px $mystic;

      .download-button {
        background-color: black;
        box-shadow: 0 0 2px $mystic;

        &:hover {
          background-color: $darkmystic;
        }
      }
    }
  }

  .project {
    background-color: $deep;
    box-shadow: 0 0 10px $mystic;
    margin-top: 10px;

    .content {
      max-width: 700px;
    }

    .buttons-area {

      .download-button {
        background-color: black;

        &:hover {
          background-color: $darkmystic;
        }
      }
    }

    .section-title {
      font-weight: 400;
    }

    .technology {

      .technology-name {
        color: white;
      }

      &:hover .technology-name {
        color: $mystic;
      }
    }

    .contributor {

      .name {
        color: white;
      }

      &:hover {

        .name {
          color: $mystic;
        }

      }
    }
  }

  .thankyou {

    .button {
      background-color: $darkmystic;

      &:hover {
        background-color: $darkmystic;
      }
    }
  }
}

/* General Purpose
----------------------------------------------------------------------------- */

.button {
  display: block;
  text-decoration: none;
  background-color: #004a66;
  color: #ffffff;
  padding: 8px  12px;
  border-radius: 4px;
  white-space: nowrap;
  transition: all .15s ease;

  &:hover {
    background-color: $electric;
  }
}


.big-button {
  display: block;
  text-decoration: none;
  background-color: #004a66;
  color: #ffffff;
  transition: all .15s ease-out;
  white-space: nowrap;
  border-style: none;
  cursor: pointer;
  padding: 20px 60px;
  border-radius: 100px;
  font-size: 20px;
  font-weight: 600;

  &:hover {
    background-color: $electric;
  }
}


.title {
  font-weight: 900;
  font-size: 2.5em;
  text-transform: capitalize;
}

.primary {
  color: $electric;
}

.section-title {
  font-size: 3em;
  font-family: bentham;
  padding: 15px 0 30px;
  text-align: center;
}

.logos {
  text-align: center;
  background-color: white;

  p {
    padding: 10px;
    color: #0b0b0b !important;
  }
}

.flex-container {
  display: flex;
  flex-flow: row;
  list-style: none;
  align-items: center;
  justify-content: center;
  height: 100px;

  a {
    display: contents;
  }

  img {
    display: block;
    height: 60%;
    margin: auto;
  }
}

/* Navigation
----------------------------------------------------------------------------- */

.logo {
  font-family: bentham;
  font-weight: 400;
  white-space: nowrap;
}

.nav-links {
  list-style: none;

  a {
    color: lightgrey;
    display: block;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: color .2s ease-out;
    text-decoration: none;

    &:hover {
      color: #fff;
    }
  }
}

/* Top Navigation
_____________________________________________________________________________ */

/* Navbar
----------------------------------------------------------------------------- */

.navbar {
  align-items: center;
  display: flex;
  height: 60px;
  justify-content: space-between;
  overflow: hidden;
  z-index: 0;
  background-color: $deep;

  @media screen and (max-width: 770px) {
    justify-content: center;
  }

  .logo {
    font-size: 3em;
    padding-left: 50px;
    color: white;

    @media screen and (max-width: 770px) {
      padding: 0;
      font-size: 2.9em;
    }
  }

  .nav-links {
    display: flex;
    flex-flow: row nowrap;
    margin-right: 50px;

    @media screen and (max-width: 1075px) {
      display: none;
    }
  }

  .nav-links a {
    padding: 31.5px 10px;
  }


  /* Hamburger Menu */
  .hamburger-menu-icon {
    display: none;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 5px;
    transition: all .2s ease;

    @media screen and (max-width: 1075px) {
      display: flex;
    }
  }

  .hamburger-menu-icon-bar {
    position: relative;
    width: 34px;
    height: 4px;
    margin: 3px 0;
    background-color: white;
    border-radius: 2px;
    transition: all .2s linear;
  }

  .hamburger-menu-icon-bar::before,
  .hamburger-menu-icon-bar::after {
    content: '';
    height: 4px;
    width: 34px;
    background: white;
    border-radius: 2px;
    position: absolute;
    top: -10px;
    z-index: 1;
    transition: all .2s linear;
  }

  .hamburger-menu-icon-bar::after {
    top: 10px;
  }

  .hamburger-menu-icon-toggle {
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 5px;
    height: 50px;
    width: 50px;
    z-index:999;
    opacity: 0;
  }

  .hamburger-menu-icon-toggle:hover + .hamburger-menu-icon {
    background-color: #00000050;
  }

  .hamburger-menu-icon-toggle:checked + .hamburger-menu-icon {
    transform: rotate(45deg);
  }

  .hamburger-menu-icon-toggle:checked + .hamburger-menu-icon .hamburger-menu-icon-bar::before,
  .hamburger-menu-icon-toggle:checked + .hamburger-menu-icon .hamburger-menu-icon-bar::after {
    top: 0;
    transform: rotate(90deg);
  }

  
}

/* Breadcrumbs
----------------------------------------------------------------------------- */

.breadcrumbs {

  ul {
    padding: 10px 0 0 40px;
    list-style: none;
    text-decoration: none;
  }

  li {
    display: inline;
  }

  a:hover {
    text-decoration: underline;
    color: #1982a9;
  }

  li+li:before {
    padding: 8px;
    content: "/\00a0";
  }

   p {
    display: inline;
  }
}

/* Main
_____________________________________________________________________________ */

.index-title {
  font-size: 3.5em;
  padding: 0 0 20px 40px;

  @media screen and (max-width: 1017px) {
    text-align: center;
    padding: 10px 0 20px 0px;
  }
}

.index-container {
  display: flex;
  justify-content: center;
}

.polaroid-card-grid {
  display: flex;
  flex-flow: row wrap;
  margin-bottom:30px;
  width: 1427px;
  max-width: 1427px;

  @media screen and (max-width: 1427px) {
      max-width: 957px;
    }

  @media screen and (max-width: 957px) {
    justify-content: center;
  }

}

.icon-card-grid {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 30px;
  width: 1380px;
  max-width: 1380px;

  @media screen and (max-width: 1396px) {
    max-width: 937px;
  }

  @media screen and (max-width: 937px) {
    justify-content: center;
  }
}

.index-list {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin-bottom:30px;
}

.polaroid-card {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 420px;
  padding: 10px 15px;
  margin: 0 25px 30px;
  text-align: center;
  position: relative;
  background-color: white;
  box-shadow: 0 0 5px grey;
  transition: all .2s ease;

  &:hover {
    box-shadow: 0 0 10px $electric;
  }

  h2 {
    display: block;
    font-family: bentham;
    font-size: 2.5em;
    transition: all .2s ease;
  }

  img {
    display: block;
    max-height: 342px;
    height: auto;
    width: 100%;
    object-fit: contain;
  }
}

.index-banner {
  display: flex;
  margin-bottom: 20px;
  padding: 10px;
  height: 180px;
  width: 90%;
  background-color: white;
  box-shadow: 0 0 5px grey;
}

.icon-card {
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
  height: 540px;
  min-height: 540px;
  width: 90%;
  margin: 0 30px 30px;
  max-width: 400px;
  border-radius: 30px;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 5px lightgrey;
  border: 1px solid lightgrey;
  overflow: hidden;
  transition: all .2s ease;

  &:hover {
    box-shadow: 0 0 10px $electric;
  }

  @media screen and (max-width: $mobile) {
    height: auto;
    margin: 0 0 30px;
  }

  .icon {
    padding-top: 10px;
    height: auto;
    width: 60px;
  }

  h2 {
    padding: 5px 0;
    width: 95%;
  }

  .description {
    margin-top: 10px;
    color: black;
    line-height: 1.4;
    font-weight: 300;
    font-size: 13px;
    width: 95%;

    @media screen and (max-width: $mobile) {
      margin-bottom: 30px;
    }
  }

  .button {
    margin-top: auto;
    margin-bottom: 14px;
  }
}

/* Home Page
----------------------------------------------------------------------------- */

.hero {
  text-align: center;
  background: white url('../img/resized-man-relaxing-in-spring.jpg')fixed;
  background-size:cover;
  background-position: center;
  height: 800px;
  color: white;
  margin-top: -92px;

  @media screen and (max-width: $mobile) {
    height: 700px;
  }

  .content {
    position:relative;
    top: 30%;

    @media screen and (max-width: 670px) {
        top: 18%;
    }

    @media screen and (max-width: $mobile) {
      top: 25%;
    }
  }

  h1 {
    color: white;
    margin: 0px 0px 10px;
    font-family: 'Bentham', serif;
    font-size: 82px;

    @media screen and (max-width: 670px) {
      line-height: 95px;
    }
  }

  h2 {
    max-width: 1050px;
    margin: 0px auto;

    @media screen and (max-width: 670px) {
      width: 90%;
    }

    @media screen and (max-width: $mobile) {
      display: none
    }
  }

  .button-gigantic {
    display: block;
    padding: 24px 36px;
    margin: auto;
    width: 348px;
    text-decoration: none;
    border-radius: 4px;
    font-size:46px;
    font-weight: 700;
    background-color: #ffffff15;
    color: white;
    margin-top: 200px;
    border: 1px solid white;
    white-space: nowrap;
    transition: all .15s ease-out;

    &:hover {
      background-color: #ffffff50;
    }

    @media screen and (max-width: 1075px) {
      margin-top: 80px;
    }
  }
}

.home-about-section {
  display: flex;
  align-items: center;
  background: url('../img/blue-mountain-stars-cropped.jpg') fixed;
  background-size:cover;

  @media screen and (max-width: 800px) {
    flex-flow: column;
  }

  figure {
    display: block;
    width: 30%;
    padding: 30px 0;
    margin: auto;
    text-align: center;

    img {
      width: 100%;
      border-radius:10px;
    }

    span {
      font-weight: 600;
      font-size: xx-large;
    }

    @media screen and (max-width: 800px) {
      width: 80%;
      padding-top: 74.5px;
    }
  }

  .title {
    font-family: Bentham;
    font-size: 4em;
    padding: 0px 0px 10px;

    @media screen and (max-width: $mobile) {
      font-size: 3em
    }
  }

  .content {
    max-width: 55%;
    margin: 0px auto;

    @media screen and (max-width: 800px) {
      max-width: 90%;
    }

    @media screen and (max-width: $mobile) {
      h3 {
        display: none;
      }
    }
  }

  form {
    display: inline-block;
    position: relative;

    p {
      padding: 40px 0px 10px;

      @media screen and (max-width: $mobile) {
        padding-top: 5px
      }
    }

    input {
      width: 100%;
      padding: 14px 0px 14px 20px;
      border: 1px solid black;
      border-radius: 10px;
      font-weight: 400;
      font-size: 16px;
      box-sizing: border-box;
      transition: all .2s ease;

      &:hover {
          box-shadow: 0px 0px 10px 5px $mystic;
      }

      &:focus {
        outline: none;
        box-shadow: 0px 0px 10px 5px $mystic;
      }
    }

    .submit {
      display: inline-block;
      margin: 20px 0px;
      padding: 20px 40px;
      border-radius: 40px;
      border: none;
      font-weight: 700;
      font-size: 20px;
      color: white;
      background-color: #00d1e6;
      cursor: pointer;
      transition: border-radius .2s ease,box-shadow .2s ease, margin .2s ease;

      &:hover {
        margin: 15px 0px 25px;
        box-shadow: 5px 5px #00a1b1, 10px 10px #006973, 15px 15px #004148;
        border-radius: 8px;
      }
    }

    @media screen and (max-width: 800px) {
      text-align: center;
    }
  }
}

/* About
_____________________________________________________________________________ */

.about {

  .about-header {
    display: flex;
    align-items: center;
    height: 92vh;
    width: 100%;
    background: url('../img/zack-about-banner.jpg') no-repeat;
    background-position: 73%;
    background-size: cover;
  }

  .about-intro {
    margin: 0 0 0 20%;
    padding-bottom: 23px;
    width: 600px;
    transition: background-color .2s ease;

    @media screen and (max-width: 1000px) {
      margin: auto;
    }

    @media screen and (max-width: 650px) {
      width: 95%;
    }

    .about-title {
      display: inline-block;
      color: white;
      padding-left: 10px;
      font-weight: 400;
      font-size: 96px;
      white-space: normal;

      @media screen and (max-width: 650px) {
        padding: none;
        line-height: 90px;
        margin-bottom: 10px;
        white-space: pre-wrap;
      }

      @media screen and (max-width: $mobile) {
        font-size: 80px;
        padding: none;
        line-height: 70px;
        margin-bottom: 10px;
      }

      span {
        font-family: Bentham;

        @media screen and (max-width: 650px) {
          display: block;
        }
      }
    }

    .about-subtitle {
      color: white;
      font-weight: 600;
      spacing: .1;

      @media screen and (max-width: 650px) {
        width: 65%;
      }

      @media screen and (max-width: $mobile) {
        width: 60%;
        margin-bottom: 30px;
      }
    }

    .header-button-area {
      display: inline-block;
      margin: 10px auto 0;
      width: auto;

      .header-button {
        display: block;
        background-color: white;
        padding: 20px;
        margin: 10px 0 0px;
        border-radius:100vh;
        white-space: nowrap;
        width: 160px;
        transition: all .2s ease;
        font-size: 1.17em;

        .arrow {
          border: solid $electric;
          border-width: 0 3px 3px 0;
          display: inline-block;
          padding: 3px 3px;
          margin: 0 0 3px 3px;
          transform: rotate(-135deg);
          -webkit-transform: rotate(45deg);
        }
      }

      &:hover .header-button {
        box-shadow: 0 10px 10px #00000070;
        color: white;
        margin: 0 0 10px;
        background-color: $electric;

        .arrow {
          border: solid white;
          border-width: 0 3px 3px 0;
          display: inline-block;
          padding:3px;
        }
      }
    }
  }

  h2 {
    font-family: Bentham;
    font-weight: 400;
    font-size: 3.5em;
    text-align: center;
    margin-bottom: 20px;
  }



  p {
    text-align: center;
  }

  .flex-grid-container {
    display: flex;
    justify-content: center;
  }

  .flex-grid {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    margin-top: 30px;
    align-items: center;
    max-width: 1017px;
  }

  .about-content {
    padding: 20px 2%;
    background: white;

    h3 {
      color: #004a66;
      text-align: center;
      font-size: 1.5em;
      font-weight: 500;
      margin-bottom: 10px;
    }
  }

  .value-box {
    margin: 0 20px 40px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 10px;
    height: 200px;
    width: 200px;
    background-color: white;
    box-shadow: 0 2px 5px grey;
    border-radius: 5px;
    transition: box-shadow .2s ease;

    &:hover {
      box-shadow: 0 2px 10px grey;
    }

    @media screen and (max-width: 516px) {
      height: 155px;
      width: 155px;
      justify-content: center;

      p {
        display: none;
      }
    }

    .value-icon {
      width: 80px;
      height: auto;
    }
  }

  .mission {

    p {
      line-height: 1.85;
    }

    .mission-box {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px;
      margin-bottom: 40px;
      box-shadow: 0 2px 5px grey;
      border-radius: 5px;
      margin-top: 20px;
      max-width: 770px;
      background-color: white;
    }

    .mission-statement {
      font-size: 3em;
      font-family: Bentham;
    }

  }

  .story-content {
    margin: 0 auto;
    max-width: 1020px;
    width: 95%;

    h3 {
      text-align: left;
    }

    p {
      text-align: left;
      margin-bottom: 10px;
      line-height: 1.85;
    }

    li {
      line-height: 1.85;
    }

    ol,
    ul {
    margin-bottom: 10px;
    }
  }
}


/* Skills
----------------------------------------------------------------------------- */

.skills {
    padding: 20px 0 30px;

    @keyframes animate {
      from {
        width: 0;
      }
    }

    .skills-container {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;
    }

    .skill-box {
      position: relative;
      width: 500px;
      box-shadow: 0 0 5px grey;
      border-radius: 10px;
      padding: 10px 25px;
    }

    .skill-category {
      margin-bottom: 5px;
    }

    .skill {
      position: relative;
      display: flex;
      padding: 24px 10px 18px;
      overflow: hidden;
      transition: 0.5s;

      .name {
        position: relative;
        width: 110px;
        text-align: right;
        color: black;
        margin-top: -2px;
      }

      .value {
        position: relative;
        width: 40px;
        text-align: right;
        color: black;
        margin-top: -2px;
        text-transform: uppercase;
      }

      .progress-bar {
        position: relative;
        width: calc(100% - 150px);
        height: 20px;
        margin: 0 10px;
        border-radius: 10px;
        box-shadow: inset 0 0 3px grey;
        overflow: hidden;
      }

      .progress {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        border-radius: 10px;
        background: $electric;
        animation: animate 4s ease-in-out forwards;
      }
    }

    .skill-area {

      &:hover {

        .skill {
          opacity: 0.05;

          &:hover {
            opacity: 1;
            transform: scale(1.1);
            box-shadow: 0 0 5px $electric;
          }
        }
      }
    }
}


/* Blog
_____________________________________________________________________________ */

/* Blog index
----------------------------------------------------------------------------- */

.author {
  color: black;
  bottom: 2px;
  font-weight: 400;
}

.pub-date {
  color: darkgrey;
  padding-top: 8px;
  margin-top: auto;
  font-weight: 400;
}

/* Blog Details
----------------------------------------------------------------------------- */

article {
  max-width: 750px;
  width: 90%;
  margin: auto;
  padding:0 50px 20px;
  margin: 30px auto 50px;
  box-shadow: 0 0 15px grey;
  border-radius: 15px;
  background-color: #ffffff;
  overflow: hidden;

  @media screen and (max-width: 910px) {
    margin-top: 10px;
    padding: 0 0 20px;
    width: 100%;
    max-width: none;
    border-radius: 0;
    box-shadow: 0 0 8px grey;

    h1,
    img,
    p,
    ul,
    ol {
      width: 85% !important;
    }

    :not(li) {
      margin: auto;
    }
  }

  @media screen and (max-width: $mobile) {

    img {
      width: 100% !important;
    }
  }

  h1 {
    font-family: bentham;
      font-size: 3em;
      font-weight: 600;
      padding: 10px 0px;
  }

  img {
    display: block;
  }

  p,
  li {
    line-height: 1.6em;
    font-size: 18px;
    letter-spacing: .03em;
  }

  li {
    font-weight: 600;

    p {
      font-weight: 600;
    }
  }

  em {
    font-weight: 600;
  }

  *:not(ol):not(ul) {
    width: 100%;
  }

  .blog-body {
    margin-top: 20px;
  }
}

/* Portfolio
_____________________________________________________________________________ */

.portfolio {

  .display-card-grid {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 30px;
    width: 1380px;

    @media screen and (max-width: 1396px) {
      width: 920px;
    }

    @media screen and (max-width: 936px) {
      justify-content: center;
    }
  }

  .display-card-wrapper {
    height: 367.4px;
    margin: 0 50px 30px;

    &:hover .display-card {
      box-shadow: 0 5px 10px grey;
      margin: 0 0 10px;
    }
  }

  .display-card {
    display: flex;
    flex-flow: column;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 1px grey;
    transition: all .3s ease;
    margin: 10px 0 0;

    img {
        border-radius: 10px 10px 0 0;
        width: 360px;
        height: 240px;
    }

    .title {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 5px 5px 0;
      width: 100%;
      text-align: center;
      color: black;
      font-size: 22px;
      font-weight: 400;
      transition: color .3s ease;

      &:hover {
        color: $electric;
      }

      span {
        padding: 5px;
        background: whitesmoke;
        border: 1px solid darkgrey;
        font-size: 14px;
        color: #1f1f1f;
        border-radius: 5px;
        margin-left: 7px;
        transition: all .3s ease;

        // &:hover {
        //   background: #ebebeb;
        // }
      }
    }

    a:first-child:hover ~ .title {
      color: $electric;
    }

    .category {
      width: 100%;
      margin-top: 10px;
      padding: 0 15px;

      

    }

    .buttons-area {
      display: flex;
      flex-flow: row-reverse;
      padding: 20px 0px 10px;

      > * {
        display: inline-block;
        padding: 10px 15px;
        margin: 0 5px;
        color: white;
        border-radius: 5px;
        transition: all .3s ease;
      }
    }

    .download-button {
      background-color: #191919;

      &:hover {
        background-color: $electric;
      }
    }

    .live-button {
      background-color: white;
      color: red;
      box-shadow: 0 0 1px grey;

      &:hover {
        background-color: red;
        color: white;
      }
    }
  }




}

.project {

  .content {
    display: flex;
    flex-flow: column;
    align-items: center;
    max-width: 750px;
    width: 95%;
    margin: 0 auto 30px;

    > .title {
      font-size: 4em;
    }
  }



  .buttons-area {
    display: flex;
    flex-flow: row-reverse;
    padding: 20px 0px 10px;

    > * {
      display: inline-block;
      padding: 10px 15px;
      margin: 0 5px;
      color: white;
      border-radius: 5px;
      transition: background-color .3s ease;
    }

    .download-button {
      background-color: #191919;

      &:hover {
        background-color: $electric;
      }
    }

    .live-button {
      background-color: white;
      color: red;
      box-shadow: 0 0 1px grey;

      &:hover {
        background-color: red;
        color: white;
      }
    }
  }

  p {
    width: 100%;
    line-height: 30px;
  }

  ol,
  ul {
    padding-left: 20px;
    width: 100%;
  }

  li {
    line-height: 25px;
    margin-left: 0;
  }

  section {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
  }

  .banner {
    max-width: 750px;
    width: 100%;
  }

  .buttons-area {
    display: flex;
    flex-flow: row-reverse;
    padding: 20px 0px;
  }

  .video-wrapper {
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
    height: 0;

    .demo-vid {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  .how-it-works .section-title {
    padding-bottom: 5px;
  }

  .contributors .section-title,
  .future-plans .section-title {
    padding-bottom: 10px;
  }

  .requirements .section-title {
    padding-bottom: 20px;
  }

  .flex-grid {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }

  .technology {
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    align-items: center;
    height: 120px;
    margin: 0 20px;

    .icon {
      width: 80px;
    }

    .technology-name {
      margin-top: 5px;
      font-size: 20px;
      text-align: center;
      color: black;
      transition: all .4s ease;
    }

    &:hover .technology-name {
      margin-bottom: 10px;
      color: $electric;
    }
  }

  .contributors {
    margin-bottom: 0;
  }

  .contributor {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-end;
    margin: 0 20px;
    height: 200px;
    width: 200px;
    padding: 10px;
    border-radius: 10px;
    transition: all .4s ease;

    .profile-picture {
      width: 150px;
      border-radius: 100vh;
    }

    .name {
      text-align: center;
      font-size: 20px;
      color: black;
      transition: all .4s ease;
    }

    &:hover .name {
      color: $electric;
    }
  }
}

/* Services
_____________________________________________________________________________ */

.service-detail {
  display: block;
  padding-top: 5px;
  margin-top: 5px;
  width: 100%;
  background-color: white;
  box-shadow: 0 0 5px grey;

  .content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 95%;
    margin: 0 auto 30px;
    padding: 30px 0;
  }

  .icon {
    max-width: 150px;
    margin: 0 0 30px;
  }

  h1 {
    font-size: 3.5em;
    margin-bottom: 20px;
    max-width: 95%;
  }

  .body {
    max-width: 865px;
    width: 95%;
    font-size: 16px;
  }

  .description {
    display: contents;

    p,
    li {
      line-height: 1.6em;
      font-size: 18px;
    }

    li,
    li p,
    em {
      font-weight: 600;
    }
  }

  h2 {
    font-family: bentham;
    font-size: 3em;
    margin: 30px 0 18px;
    text-align: center;
  }

  .price {
    font-size: 2.5em;
    font-family: Montserrat;
    font-weight: 500;
    margin-bottom: 40px;

    span {
      color: black;
      font-weight: 400
    }
  }

  .deliverables {

    ul {
      padding-left: 20px;
    }

    li {
      font-weight: 500;
      font-size: 20px;
      padding: 2px;
    }
  }

  .button {
    display: block;
    font-size: 40px;
    padding: 50px 0;
    text-align: center;
    max-width: 521.69px;
    width: 95%;
  }



  @media screen and (max-width: $mobile) {
    .button {
      padding: 40px 0;
    }
  }
}

/* Order Summary
----------------------------------------------------------------------------- */

.order-summary {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;

  .index-title {
    margin-top: 30px;
    padding-left: 0;
  }

  .order-box {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: 10px;
    width: 95%;
    max-width: 600px;
    border-radius: 20px;
    box-shadow: 0 2px 5px grey;
    background-color: white;

    hr {
      background-color: grey;
      width: 100%;
      height: .9px;
      border: none;
    }

    .order-box-head {
      width: 100%;
      display: flex;
      align-items: center;
    }

    .icon {
      margin-left: 10px;
      width: 80px;
    }

    .title {
      font-weight: 400;
      font-size: 24px;
      max-width: 385px;
      text-align: center;
      margin: auto;
    }

    .order-box-details {
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      padding: 5px 0;
    }

    .order-box-subtitle {
      font-size: 24px;
      font-weight: 600;
      color: #004a66;
    }

    .order-box-deliverables-list {
      margin: 10px;
      padding-left: 20px;
      align-self: flex-start;
      line-height: 30px;
    }

    .order-box-price {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .price {
      display: inline-block;
      padding: 10px;
      font-size: 20px;
      font-weight: 500;
    }

    > *:not(hr) {
      padding: 10px !important;
    }

  }

  .order-buttons-area {
    display: flex;
    flex-flow: row-reverse nowrap;
    justify-content: center;
    align-items: center;
    margin: 20px;

    > * {
      margin: 10px;
    }

    button {
      display: block;
      text-align: center;
      padding: 10px 15px;
      text-decoration: none;
      background-color: #004a66;
      color: #fff;
      border-radius: 4px;
      white-space: nowrap;
      font-weight: 500;
      cursor: pointer;
      font-size: 16px;
      border: none;
      transition: all .15s ease-out;

      &:hover {
        background-color: $electric;
      }
    }

    .cancel-button {
      display: inline-block;
      text-align: center;
      padding: 9px 14px;
      color: #004a66;
      border-radius: 5px;
      border: 1px solid #00000000;
      transition: color .2s ease, box-shadow .2s ease, border-color .2s ease;

      &:hover {
          color: $electric;
          box-shadow: 0 0 10px $electric;
      }
    }
  }

  .order-form-title {
    margin: 20px 0 10px;
  }

  form {
    display: contents;

    .order-form {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 5px 5px;
      max-width: 600px;
      width: 100%;
      margin-top: 5px;

      input {
        display: block;
        padding: 15px 15px;
        border-radius: 10px;
        border: 1px solid lightgrey;
        width: 100%;
        font-size: 16px;
        transition: border-color .15s ease;

        &:hover::-webkit-input-placeholder {
          color: grey;
        }

        &:focus {
          border-color: slategrey;
        }

        &[type="text"] {
          grid-row: 1;
        }


      }

      #id_email {
        grid-column: 1 / 3;
      }

      select {
        display: none;
      }


    }
  }
}

/* Contact
_____________________________________________________________________________ */

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;

  .intro {
    display: block;
  }

  .title {
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 3.5em;
  }

  p {
   max-width: 620px;
   margin-bottom: 10px;
   text-align: center;
 }

 .flex-center-area {
   display: flex;
   justify-content: center;
 }

 form {
   display: flex;
   align-items: center;
   flex-flow: column nowrap;
   margin-top: 10px;
   max-width: 600px;
   width: 98%;
   margin-bottom: 40px;

   input[type="text"],
   input[type="email"],
   textarea {
     width: 100%;
     padding: 10px 0px 10px 5px;
     border: 1px solid darkgrey;
     font-weight: 400;
     font-size: 16px;
     box-sizing: border-box;
     resize: none;

     &:focus {
       border-color: black;
     }

     &:hover::-webkit-input-placeholder {
       color: grey;
     }
   }

   textarea {
     margin-bottom: 10px;
   }

   input:nth-child(3) {
     margin-bottom: 10px;
   }


   input::-webkit-input-placeholder {
     color: darkgrey;
     font-weight: 400;
   }
 }
}

/* Thank You
_____________________________________________________________________________ */

.thankyou {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  height: 92vh;

  h1 {
    margin-bottom: 10px;
  }

  .button {
    margin: 40px 0 0;
  }

}


/* Footer
_____________________________________________________________________________ */

footer {

  .wrapper {
    background: $deep;
  }

  .logo {
    font-size: 3.5em;
    color: $mystic;
  }

  .block {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    width: 350px;
    height: 210px;
    color: white;

    @media screen and (max-width: 757px) {
      padding: 0 10px;
    }

    &:nth-of-type(2) .content {
      display: grid;
      grid-template-columns: auto auto;
      justify-content: space-between;
      align-content: space-between;
      padding: 15px 35px;
      width: 100%;
      height: 100%;
      max-height: 150px;
      border-right: 1px solid white;
      border-left: 1px solid white;

      @media screen and (max-width: 1126px) {
        border: none;
      }

      @media screen and (max-width: 757px) {
          padding-top: 0;
      }

      nav,
      ul {
        display: contents;
      }
    }

    &:nth-of-type(3) {

      .content {
        display: block;
        height: 100%;
        width: 100%;
        padding-left: 20px;
        text-align: left;

        @media screen and (max-width: 1126px) {
          padding: 0;
          text-align: center;
        }
      }

      @media screen and (max-width: 757px) {
        padding-top: 45px;
      }

      h2 {
        font-size: 35px;
        font-weight: 600;
        margin: 5px 0;
        color: white;
      }

      p {
        color: #c7c7c7;

        &:nth-of-type(1) {
          margin-bottom: 25px;
        }

        &:nth-of-type(2),
        &:nth-of-type(3) {
          padding: 10px 0px;
          color: white;
        }
      }

      a {
        text-decoration: none;
        transition: all .2s ease;

        &:hover {
          color: white;
        }
      }
    }
  }

  .flex-container {
    height: 300px;

    @media screen and (max-width: 1126px) {
      flex-flow: wrap;
      height: 100%;
      justify-content: space-around;
      padding-bottom: 55px;
    }
  }

  .copyright {
    color: white;
    background-color: $electric;
    padding: 10px 0px;
    text-align: center;
    font-size: 14px;
  }
}
