@use 'config' as *;

.icon-card {
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
  height: 540px;
  min-height: 540px;
  width: 90%;
  margin: 0 30px 30px;
  max-width: 400px;
  border-radius: 30px;
  background-color: #ffffff;
  box-shadow: 0px 0px 5px lightgrey;
  border: 1px solid lightgrey;
  overflow: hidden;
  transition: all 0.2s ease;

  &:hover {
    box-shadow: 0 0 10px $electric;
  }

  @media (max-width: $mobile) {
    height: auto;
    margin: 0 0 30px;
  }

  .icon {
    padding-top: 10px;
    height: auto;
    width: 60px;
  }

  h2 {
    padding: 5px 0;
    width: 95%;
  }

  .description {
    margin-top: 10px;
    color: black;
    line-height: 1.4;
    font-weight: 300;
    font-size: 13px;
    width: 95%;

    @media (max-width: $mobile) {
      margin-bottom: 30px;
    }
  }

  .button {
    margin-top: auto;
    margin-bottom: 14px;
  }

  &-grid {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 30px;
    width: 1380px;
    max-width: 1380px;

    @media (max-width: 1396px) {
      max-width: 937px;
    }

    @media (max-width: 937px) {
      justify-content: center;
    }
  }
}


.polaroid-card {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 420px;
  padding: 10px 15px;
  margin: 0 25px 30px;
  text-align: center;
  position: relative;
  background-color: white;
  box-shadow: 0 0 5px grey;
  transition: all 0.2s ease;

  &:hover {
    box-shadow: 0 0 10px $electric;
  }

  h2 {
    display: block;
    font-family: bentham;
    font-size: 2.5em;
    transition: all 0.2s ease;
  }

  img {
    display: block;
    max-height: 342px;
    height: auto;
    width: 100%;
    object-fit: contain;
  }

  &-grid {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 30px;
    width: 1427px;
    max-width: 1427px;

    @media (max-width: 1427px) {
      max-width: 957px;
    }

    @media (max-width: 957px) {
      justify-content: center;
    }
  }
}


