{% extends 'base.html' %}

{% block title %}{{ post.title }} | Zack Plauché{% endblock %}

{% block breadcrumbs %}
<ul>
  <li><a href="{% url 'base:home' %}">Home</a></li>
  <li><a href="{% url 'blog:post_list' %}">Blog</a></li>
  <li>
    <p>{{ post.title }}</p>
  </li>
</ul>
{% endblock %}

{% block main %}
<article>
  {% if user == post.author %}{% endif %}
  <h1>{{ post.title }}</h1>
  <img src="{{ post.image.url }}" width="570">
  <div class="blog-body">
    {{ post.body|safe|linebreaksbr }}
  </div>
</article>
{% endblock %}