$electricblue: #21abde;
$electricbluedark: #004A66;
$midnightblue: #0C181E;
$mysticblue: #00E7FF;

$colors: ();
$colors: map-merge((
  'electricblue': $electricblue,
  'electricbluedark': $electricbluedark,
  'midnightblue': $midnightblue,
  'mysticblue': $mysticblue,
), $colors)