@import "reset";
@import "colors";

// Defaults

body {
  font-family: "Montserrat", sans-serif;
}

// Utilities

@each $name, $color in $colors {
  .text-#{$name} {
    color: $color;
  }
}

// Components

.option-block {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  height: 150px;
  background-color: $midnightblue;
  color: white;
  cursor: pointer;
  transition: .3s ease;
  font-size: 20px;
  opacity: 0;
  animation: fade-in .5s linear 3s 1 forwards;

  span {
    transition: .3s ease;
  }

  &:hover {
    background-color: black;
    span {
      transform: scale(1.2);
      color: $mysticblue;
    }
  }

  &-wrapper {
    display: flex;
    flex-flow: wrap;
  }

  &-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    text-decoration: none;
    right: 0;
    bottom: 0;
    left: 0;
    height: 80px;
    background-color: white;
    transition: 0.4s ease;
    opacity: 0;
    animation: fade-in .5s linear 3s 1 forwards;

    span {
      font-size: 30px;
      color: $electricblue;
      transition: 0.4s ease;
    }

    &:hover {
      background-color: #fafafa;
      span {
        transform: scale(1.2);
      }
    }
  }
}

// Else

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.welcome {
  height: 100vh;

  h1 {
    padding-top: 40px;
    text-align: center;
    font-family: "Bentham", serif;
    font-weight: 400;
    font-size: 4.5em;
    animation: fade-in 1s;
  }

  .main-image {
    display: flex;
    justify-content: center;
    margin: 20px;

    figcaption {
      opacity: 0;
      animation: fade-in .5s linear 1.5s 1 forwards;

    }

    img {
      height: 300px;
      width: 300px;
      border-radius: 100vh;
      animation: fade-in .5s linear 1s 1 forwards;
      opacity: 0;
    }

  } 

  .intro {
    text-align: center;
    font-size: 2em;
    font-weight: 400;
    opacity: 0;
    animation: fade-in 1s linear 2s 1 forwards;
    padding-bottom: 10px;
  }
}
