@use 'config' as *;

.home-hero {
  text-align: center;
  background: white url('../img/rsz_3-resized-man-relaxing-in-spring.jpg') no-repeat fixed center/ cover;
  height: 100vh;
  color: white;
  margin-top: -$navbar-height;
  overflow: hidden;

  .content {
    position:relative;
    top: 30%;

    @media (max-width: 670px) {
        top: 18%;
    }

    @media (max-width: $mobile) {
      top: 15%;
    }
  }

  h1 {
    color: white;
    margin: 0px 0px 10px;
    font-family: 'Bentham', serif;
    font-size: 82px;

    @media (max-width: 670px) {
      line-height: 95px;
      
    }
  }

  h2 {
    max-width: 1050px;
    margin: 0px auto;

    @media (max-width: 670px) {
      width: 90%;
    }

    @media (max-width: $mobile) {
      font-size: 22px;
    }

  }

  .button-gigantic {
    display: block;
    padding: 24px 36px;
    margin: auto;
    width: 348px;
    text-decoration: none;
    border-radius: 4px;
    font-size:46px;
    font-weight: 700;
    background-color: #ffffff15;
    color: white;
    margin-top: 200px;
    border: 1px solid white;
    white-space: nowrap;
    transition: all .15s ease-out;

    &:hover {
      background-color: #ffffff50;
    }

    @media (max-width: 1075px) {
      margin-top: 80px;
    }

    @media (max-width: $mobile) {
      margin-top: 30px;
    }
  }
}


.home-about-section {
  display: flex;
  align-items: center;
  background: url('../img/blue-mountain-stars-cropped.jpg') fixed;
  background-size:cover;

  @media (max-width: 800px) {
    flex-flow: column;
  }

  figure {
    display: block;
    width: 30%;
    padding: 30px 0;
    margin: auto;
    text-align: center;

    img {
      width: 100%;
      border-radius:10px;
    }

    span {
      font-weight: 600;
      font-size: xx-large;
    }

    @media (max-width: 800px) {
      width: 80%;
      padding-top: 74.5px;
    }
  }

  .title {
    font-family: Bentham;
    font-size: 4em;
    padding: 0px 0px 10px;

    @media (max-width: $mobile) {
      font-size: 3em
    }
  }

  .content {
    max-width: 55%;
    margin: 0px auto;

    @media (max-width: 800px) {
      max-width: 90%;
    }

    @media (max-width: $mobile) {
      h3 {
        display: none;
      }
    }
  }

  form {
    display: inline-block;
    position: relative;

    p {
      padding: 40px 0px 10px;

      @media (max-width: $mobile) {
        padding-top: 5px
      }
    }

    input {
      width: 100%;
      padding: 14px 0px 14px 20px;
      border: 1px solid black;
      border-radius: 10px;
      font-weight: 400;
      font-size: 16px;
      box-sizing: border-box;
      transition: all .2s ease;

      &:hover {
          box-shadow: 0px 0px 10px 5px $mystic;
      }

      &:focus {
        outline: none;
        box-shadow: 0px 0px 10px 5px $mystic;
      }
    }

    .submit {
      display: inline-block;
      margin: 20px 0px;
      padding: 20px 40px;
      border-radius: 40px;
      border: none;
      font-weight: 700;
      font-size: 20px;
      color: white;
      background-color: #00d1e6;
      cursor: pointer;
      transition: border-radius .2s ease,box-shadow .2s ease, margin .2s ease;

      &:hover {
        margin: 15px 0px 25px;
        box-shadow: 5px 5px #00a1b1, 10px 10px #006973, 15px 15px #004148;
        border-radius: 8px;
      }
    }

    @media (max-width: 800px) {
      text-align: center;
    }
  }
}