@mixin overlay($color, $hover-color: $color) {
    // Ensure the parent element's position is relative.
    position: relative;

    // Create the overlay
    &::after {
        content: "";
        height: 100%;
        width: 100%;
        position: absolute;
        transition: all 0.4s ease;
        background-color: $color;
    }

    // Set hover background color
    &:hover::after {
        background-color: $hover-color;
    }

    // Make inner content appear in-front of overlay
    & > * {
        z-index: 1;
    }
}