<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  {% load static %}
  <meta charset="utf-8">
  <meta name="author" content="Zack Plauche">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-79137666-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'UA-79137666-1');
  </script>
  <title>{% block title %}{% endblock %}</title>
  <link href="https://fonts.googleapis.com/css?family=Bentham|Montserrat:400,400i,500,600,700,900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'base/css/style.css' %}">
  <link rel="icon" type="image/png" href="{% static 'base/img/favicon_32x32.png' %}">
</head>

<body>
  <header>

    <!-- Top Navigation -->
    <nav class="navbar">

      <!-- Logo/Home Page Link -->
      <a class="logo" href="{% url 'base:home' %}">Zack Plauché</a>

      <!-- Navigation Links -->
      <ul class="nav-links">
        <li><a href="{% url 'base:about' %}">About</a></li>
        <li><a href="{% url 'services:service_list' %}">Services</a></li>
        <li><a href="{% url 'blog:post_list' %}">Blog</a></li>
        <li><a href="{% url 'portfolio:project_list' %}">Portfolio</a></li>
        <li><a href="{% url 'base:contact' %}">Contact</a></li>
      </ul>

      <!-- Hamburger Menu Icon -->
      <input type="checkbox" class="hamburger-menu-icon-toggle">
      <div class="hamburger-menu-icon">
        <div class="hamburger-menu-icon-bar"></div>
      </div>
    </nav><!-- End Navigation -->

    {% block header %}
    {% endblock %}
  </header>

  <main class="light">
    <div class="breadcrumbs">
      {% block breadcrumbs %}
      {% endblock %}
    </div>
    {% block main %}
    {% endblock %}
  </main>

  <footer>

    <div class="wrapper">
      <div class="flex-container">

        <!-- Footer block 1 -->
        <div class="block">
          <div id="footerBlock1">
            <h2 class="logo">Zack Plauché</h2>
          </div>
        </div>

        <!-- Footer Block 2 -->
        <div class="block">
          <div class="content">
            <nav>
              <ul class="nav-links">
                <li><a href="{% url 'base:about' %}">About</a></li>
                <li><a href="{% url 'base:contact' %}">Contact</a></li>
                <li><a href="{% url 'portfolio:project_list' %}">Portfolio</a></li>
                <li><a href="{% url 'blog:post_list' %}">Blog</a></li>
                <li><a href="{% url 'services:service_list' %}">Services</a></li>
              </ul>
            </nav>
          </div>
        </div>

        <!-- Footer block 3 -->
        <div class="block">
          <div class="content">
            <h2>Connect with me.</h2>
            <p>Have quesitons? Feel free to reach me at my phone or email listed below:
              <p><i>Phone:</i> <a href="tel: +13032618653">+1 (303) 261-8653</a></p>
              <p><i>Email:</i> <a href="mailto:zackknowspython@gmail.com">zackknowspython@gmail.com</a></p>
          </div>
        </div>

      </div>
    </div>

    <div class="copyright">
      <p>© Copyright Zack Plauché {% now "Y" %}</p>
    </div>
    <script> </script>
  </footer>
</body>

</html>