{% extends "base.html" %}

{% block title %}Zack Plauché | Scale Yourself & Your Business{% endblock %}

{% block header %}
<div class="home-hero">
  <div class="content">
    <h1>Get Online, Automate, & Scale.</h1>
    <h2>Work with Zack Plauché to get your business online & working without you so you can make a positive impact while you sleep.</h2>
    <a class="button-gigantic" href="{% url 'services:service_list' %}">Get Started</a>
  </div>
</div>
{% endblock %}

{% block main %}

{% if companies %}
<!-- Social Proof Logos -->
<div class="logos">
  <p>Worked with:</p>
  <div class="social-proof-logos">
    {% for company in companies %}
    <!-- TODO: Make this into a model -->
    <a target="_blank" {% if company.website %}href="{{ company.website }}" {% endif %}><img src="{{ company.logo.url }}"></a>
    {% endfor %}
  </div>
</div><!-- End of Social Proof Logos -->

{% else %}
{% endif %}

<!-- About Section  -->
<div class="home-about-section dark">
  <figure>
    <img src="{% static 'img/pro-dev-zack.jpg' %}">
    <h4><span class="text-primary">Zack Plauché</span><br>Freelancer, CEO of ZackHub</h4>
  </figure>
  <div class="content">
    <h2 class="text-primary title">Work Your Business Smarter.</h2>
    <h3>Scaling a business or a brand is a process that's been done over and over.
      Building an online platform, effectively marketing your services, and scaling your infrastructure at the right time is something that's easier said than done.
      <br>
      <br>
      I help people & companies interested in scaling to gracefully succeed at doing so.
    </h3>

    <!-- Email Collection form -->
    <form method="post">
      {% csrf_token %}
      <p>Subscribe for free trainings, new blog posts, & curated content made to help you scale.</p>
      {{ form }}<br>
      <button class="submit" type="submit" name="submit">Get Started</button>
    </form><!-- End of email collection form -->

  </div>
</div> <!-- End of About Section -->

</div>
{% if services %}
<div class="services-display">
  <h2 class="section-title">Services</h2>
  <div class="index-container">
    <div class="icon-card-grid">


      {% for service in services.all %}
      <a class="icon-card" href="{% url 'services:service_detail' service.slug %}">
        {% if service.icon %}
        <img class="icon" src="{{ service.icon.url }}">
        {% endif %}
        <h2>{{ service.title }}</h2>
        <div class="description">
          <p>{{ service.short_description|linebreaksbr }}</p>
        </div>
        <div class="button">
          <p>Learn More</p>
        </div>

      </a>
      {% endfor %}
    </div>
  </div>
  {% endif %}
  {% endblock %}