.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row;
}

@mixin overlay($color, $hover-color: $color) {
  // Ensure the parent element's position is relative.
  position: relative;

  // Create the overlay
  &::after {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      transition: all 0.4s ease;
      background-color: $color;
  }

  // Set hover background color
  &:hover::after {
      background-color: $hover-color;
  }

  // Make inner content appear in-front of overlay
  & > * {
      z-index: 1;
  }
}

.overlay {
  @include overlay(#0002, #000);
}

$overlays: (
  "light": #fff3,
  "lighter": #fff5,
  "lightest": #fff7,
  "superlight": #fff9,
  "dark": #0003,
  "darker": #0005,
  "darkest": #0007,
  "superdark": #0009,
);


@each $brightness, $color in $overlays {
  .overlay-#{$brightness} {
    @include overlay($color)
  }
}

.overlay {
  @include overlay(#0001);
}

.container {
  max-width: $max-site-width;
  margin: auto;

  @media (max-width: 1300px) {
    max-width: $max-site-width !important;
  }

  &-wide {
    max-width: 87%;
    margin: auto;
  }
}

@each $name, $color in $colors {
  .text-#{$name} {
    color: $color;
  }
}

.title {
  font-weight: 900;
  font-size: 2.5em;
  text-transform: capitalize;
}


.section-title {
  font-size: 3em;
  font-family: bentham;
  padding: 15px 0 30px;
  text-align: center;
}

.logos {
  text-align: center;
  background-color: white;
  padding: 10px 10px 20px;

  p {
    padding-bottom: 10px;
    color: #0b0b0b !important;
  }

  .social-proof-logos {
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 20px 0 0;

    @media (max-width: 790px) {
      margin-bottom: 20px;
    }

    a:not(:last-of-type) {
      @media (max-width: 790px) {
        margin-bottom: 50px;
      }
    }

    img {
      height: 55px;

      @media (max-width: 865px) {
        height: 50px;
      }
    }
  }
}

.flex-container {
  display: flex;
  flex-flow: row;
  list-style: none;
  align-items: center;
  justify-content: center;
  height: 100px;

  a {
    display: contents;
  }

  img {
    display: block;
    height: 60%;
    margin: auto;
  }
}