// Colors
$mystic: #00e7ff;
$darkmystic: #00d1e6;
$electric: #21ABDE;
$dark: #172933;
$deep: #0c181e;
$midnight: #080f13;

$primary: $electric;

$colors: (
  'primary': $primary,
  'electric': $electric,
  'mystic': $mystic,
  'darkmystic': $darkmystic,
  'dark': $dark,
  'deep': $deep,
  'midnight': $midnight,
);

// Sizes
$mobile: 500px;
$max-site-width: 1100px;
// Components
$navbar-height: 60px;