/* Navbar
----------------------------------------------------------------------------- */

/* Define background color & normal height of navbar, position the logo to the
left and the navigation links to the right of the navbar, & center vertically
align all of the content. */
header nav {
  align-items: center;
  display: flex;
  height: 60px;
  justify-content: space-between;
  overflow: hidden;
  z-index: 0;
}


header nav a {text-decoration:none} /* Remove nav link underlines */

/* Make nav logo size normal h1 size and add padding to right */

.nav-logo {
  font-size: 2em;
  white-space: nowrap;
}

footer .nav-logo {
  font-size: 2.7em;
}

header .nav-logo {
  font-size: 2em;
  padding-left: 50px;
}

header .nav-logo a {
  color: white;
}

header nav li {
  float: left;
}

header nav ul {
  padding-right: 50px;
}

nav ul a {
  color: lightgrey;
  display: block;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 1px;
  padding: 31.5px 10px;
  text-transform: uppercase;
  transition: color .2s ease-out;
  text-decoration: none;
}

nav ul a:hover {
  color: #fff;
}

/* Navigation Hamburger Menu
---------------------------*/

.hamburger {
  align-items: center;
  border-radius: 50%;
  box-sizing: border-box;
  cursor: pointer;
  display: none;
  flex-flow: column wrap;
  height: 50px;
  justify-content: center;
  position: absolute;
  right: 5px;
  top: 5px;
  transition: all .2s ease;
  width: 50px;
}

.bar {
  position: relative;
  width: 34px;
  height: 4px;
  background-color: white;
  margin: 3px 0;
  border-radius: 2px;
  transition: all .2s linear;
}

.bar::before,
.bar::after {
  content: '';
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 34px;
  height: 4px;
  background: white;
  border-radius: 2px;
  transition: all .2s linear;
}

.bar::after {
  top: 10px;
}

.toggle {
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 5px;
  height: 50px;
  width: 50px;
  z-index:999;
  opacity: 0;
}

.toggle:hover + .hamburger {
  transform: rotate(-25deg);
  background-color: #00000050;
}

.toggle:checked + .hamburger {
  transform: rotate(45deg);
}

.toggle:checked + .hamburger .bar::before,
.toggle:checked + .hamburger .bar::after {
  top: 0;
  transform: rotate(90deg);
}



/* Navbar Layouts
---------------------------------*/

/* Desktop Layout */
@media screen and (max-width: 1075px) {

  /* Display hamburger menu icon */
  .hamburger {display: flex}

  /* Hide navigation links */
  header nav ul {display: none}

  /* Tidy positioning for main CTA button */
  .value-proposition .button {margin-top: 80px}
  }
}

/* Mobile Layout */
@media screen and (max-width: 414px) {

   #nav-logo {
    justify-content: center;
  }

  header nav h1 {margin-top: 10px}
