/******** Sitewide ********/

*  {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

main {
  padding: 10px 15px 0px;
  background-color: #fbfcfc;
}

main h1 {
  margin: 20px 0px;
}

h1 {
  font-size: 2em;
  color: #004a66;
}

a {
  color: #21ABDE;
  font-weight: 500px;
}

ul {
  list-style-type: none;
  padding: 0px;
  overflow: hidden;
}

input {
  margin: 3px;
}


/**** Main Navigtaion *****/

nav * {
  color: white;
}

header {
  background: url('images/adrien-olichon-RCAhiGJsUUE-unsplash.jpg');
  background-size: cover;
}

nav a {
  text-decoration:none;
  margin-left: 15px;
}

nav h1 {
  margin: 0px;
  padding-top: 12px;
}

nav li {
  float: left;
  padding-bottom: 3px;
}

nav ul a {
  color: #eeeeee;
}

nav ul a:hover {
  color: white;
}

footer {
  padding: 5px 10px;
  background: lightgrey;
  text-align: center;
}

/********* Tables **********/


table {
    border: 1px solid black;
    margin: 30px auto;
    padding: 0px 10px;
  }

thead td {
    border-bottom: 1px solid black;
  }

table td, th {
    min-width: 114px;
    height: 40px;
    padding: 0px 10px;
  }

tfoot {
    color: grey;
  }

/********* Classes **********/


.value-proposition {
  text-align: left;
  display: run-in;
  background: white url('images/robson-hatsukami-morgan-r8hw4Zs38zo-unsplash.jpg') no-repeat fixed;
  background-size:cover;
  background-position: center;
  height: 800px;
  color: white;
  margin: -92.4px -15px 0px;
}

.quotes::before, .quotes::after {
  content: '"';
}

.content {
  position:relative;
  top: 30%;
  margin-left: 20px;
}

.value-proposition h1 {
  color: white;
  margin: 0px;
  font-family: 'Bentham', serif;
  font-size: 89px;
  padding: 0px;
}

.value-proposition h2 {
  max-width: 1050px;
  margin: 5px 0px 0px;
  font-size: 22px;
}

.service-display {
  text-align: center;
  min-width: 400;
  margin: 0px;
}

.container {
  background-color: #FFFFFF;
  border-radius: 30px;
  border: 1px solid lightgrey;
  margin: 30px;
  box-shadow: 0px 0px 5px lightgrey;
  min-width: 400px;
  width: 400px;
  height: 540px;
  display: inline-block;
  vertical-align: top;
}


.container img {
  margin-top: 10px;
}

.container h1 {
  max-width: 95%;
  margin: 15px auto;
}

.container p {
  font-size: 13px;
  width: 95%;
  margin: auto;
}

.icon {
  height: auto;
  width: 60px;
}

/******* Text ********/
::selection {
  background: #21ABDE;
  color: white;
}

/********* Buttons *********/

.button {
  text-decoration: none;
  background-color: #004a66;
  color: #ffffff;
  padding: 8px  12px;
  border-radius: 4px;
  display: inline-block;
  transition: background-color .15s ease-out;
}

.value-proposition .button {
  font-size:50px;
  font-weight: 700;
  background-color: #ffffff00;
  color: white;
  margin-top: 40px;
  padding: 48px 96px;
  border: 1px solid white;
}

.value-proposition .button:hover {
  background-color: #ffffff50;
}

.service-display .button {
    margin: 20px;
}

table .button {
    display: block;
    margin: 0;
}

.button:hover {
  background-color: #21ABDE;
}

.service-detail {
  text-align: center;
}

.service-price {
  padding: push
}
