.main-nav {
  color: black;
  text-decoration: none;
}

.section-title {
  color: #21ABDE;
  font-weight: bolder;
}

.service-display {
  text-align: center;
  width: 60%;
  height: auto;
  margin: 0px auto
}

.button {
  font: bold 11px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}
