{% extends 'home/base.html' %}

{% block title %}Services | Zack Plauché{% endblock %}

{% block breadcrumbs %}
<ul>
  <li><a href="{% url 'home:home' %}">Home</a></li>
  <li><p>Services</p></li>
</ul>
{% endblock %}

{% block main %}
<section class="index">
  <h1 class="index-title">Services</h1>
  <div class="index-container">


  <section class="icon-card-grid">
  {% for service in services.all %}
    {% if service.display == True %}
    <a class="icon-card" href="{% url 'services:service_detail' service.slug %}">
      <img class="icon" src="{{ service.icon.url }}">
      <h2>{{ service.title}}</h2>
      <div class="description">
        <p>{{ service.short_description|linebreaksbr }}</p>
      </div>
      <div class="button">
        <p>Learn More</p>
      </div>
    </a>
    {% endif %}
  {% endfor %}
  </section>
  </div>
</section>
{% endblock %}
