{% extends 'home/base.html' %}

{% block title %}Services | Zack Plauché{% endblock %}

{% block breadcrumbs %}
<ul>
  <li><a href="{% url 'home:index' %}">Home</a></li>
  <li><p>Services</p></li>
</ul>
{% endblock %}

{% block main %}
<section class="index">
  <h1 class="index-title">Services</h1>
  <section class="index-list">
  {% for service in services.all %}
    <a class="index-banner" href="{% url 'services:service_detail' service.slug %}">
      <h2>{{ service.title}}</h2>
    </a>
  {% endfor %}
  </section>
</section>
{% endblock %}
