{% extends 'home/base.html' %}

{% block title %}{{ service.title }} | Zack Plauché{% endblock %}

{% block breadcrumbs %}
<ul>
  <li><a href="{% url 'home:index' %}">Home</a></li>
  <li><a href="{% url 'services:index' %}">Services</a></li>
  <li><p>{{ service.title }}</p></li>
</ul>
{% endblock %}


{% block main %}
<section class="service-detail">
  <div class="content">
    <img class="icon" src="{{ service.icon.url }}">
    <h1>{{ service.title }}</h1>
    <div class="body">
      <div class="description">
      {% if service.long_description %}
      {{ service.long_description|safe }}
      {% else %}
        {{ service.short_description|linebreaksbr }}
      {% endif %}
      </div>
    <h2>Deliverables</h2>
    <div class="deliverables">
      <ul>
        <li><p>List item 1<p></li>
        <li><p>List item 2<p></li>
        <li><p>List item 3<p></li>
      </ul>
    </div>
      {% if set_deliverables %}
        <ul>
          {% for deliverable in set_deliverables %}<li>{{ deliverable }}</li>{% endfor %}
        </ul>
      {% endif %}
    <h2 class="price">Price: <span>${{ service.price }}</span></h2>
    </div>
    <a class="button" href="{% url 'home:index' %}">{{ service.call_to_action }}</a>
  </div>
</section>
{% endblock %}
